body .page.column2{
  .accordion{
    margin-top:50px;
    .bloc{
      &.active{
        h3{
          background-color:$green;
          &:after{
            content:url('/assets/images/moins-accordion.png');
            right:0;
            position:absolute;
            top: 0;
          }
        }
      }
    }
    .hidden{
      margin-top:20px;
    }
    h3{
      background-color:#C8C8C8;
      font-family: $primary;
      font-weight:700;
      padding:6px 10px;
      margin-top:20px;
      font-size: 28 / 16 * 1em;
      color: #FFFFFF;
      line-height: 36 / 28 * 1em;
      position: relative;
      &:after{
        content:url('/assets/images/plus-accordion.png');
        right:0;
        position:absolute;
        top: 0;
      }
    }
    .horaires{
      strong{
        min-width: 15%;
        display: inline-block;
      }
    }
    li{
      font-family: $primary;
      font-weight:300;
      font-size: 16 / 16 * 1em;
      color: #000000;
      letter-spacing: 0;
      line-height: 24 / 16 * 1em;
      &:before{
        content:url('/assets/images/accordion-fleche.png');
        margin-right: 5px;
      }
    }
    h4{
      /* Caractéristiques: */
      font-family: $primary;
      font-weight:700;
      font-size: 28 / 16 * 1em;
      color: #000000;
      line-height: 36 / 28 * 1em;
      margin-top:18px;
    }
  }
  aside{
    margin-top:0;
    .bloc{
      margin-bottom:45px;
      h3{
        font-family: $primary;
        font-weight:700;
        font-size: 36px;
        color: #000000;
        text-transform: uppercase;
      }
      &.bloc-address{
        border:4px solid #F2F2EF;
        .button{
          background-color: #000;
          transition:0.20s all ease;
          text-align:center;
          color: #FFF;
          width: 100%;
          display: block;
          &:hover{
            background-color:$green;
          }
          span{
            font-family: $condensed;
            font-weight:700;
            font-size: 18 / 16 * 1em;
            color: #FFFFFF;
            line-height: 35 / 18 * 1em;
          }
        }
        img{
          width:100%;
          margin: 10px 0 30px;
        }
      }
      &.bloc-text{
        border:4px solid #F2F2EF;
        .button{
          background-color: #000;
          transition:0.20s all ease;
          text-align:center;
          color: #FFF;
          width: 100%;
          display: block;
          &:hover{
            background-color:$green;
          }
          span{
            font-family: $condensed;
            font-weight:700;
            font-size: 18 / 16 * 1em;
            color: #FFFFFF;
            line-height: 35 / 18 * 1em;
          }
        }
        ul{
          li{
            font-size: 22 / 16 * 1em;
            font-weight:400;
            margin-bottom:20px;
            &:before{
              content:url('/assets/images/aside-arrow.png');
              margin-right:5px;
            }
          }
        }
      }
      &.bloc-bon-a-savoir{
        background-color:$green;
        -webkit-clip-path: polygon(0 0,100% 0,100% 82%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 82%,0 100%);
        padding-bottom: 60px;
        h3{
          color:#FFF;
        }
        p{
          font-family: $primary;
          font-weight:400;
          font-size: 22 / 16 * 1em;
          color: #000000;
          line-height: 31 / 22 * 1em;
          @include media(mobile-only){
            font-size: 21 / 16 * 1em;
            line-height: 28 / 21 * 1em;
          }
        }
      }
      &.bloc-highlight{
        background-image:url('/assets/images/bloc-highlight.png');
        height:350px;
        background-size:contain;
        background-repeat: no-repeat;
        p{
          font-family: $primary;
          font-weight:700;
          font-size: 36 / 16 * 1em;
          color: #FFFFFF;
          text-align: center;
          padding: 50px 50px;
        }
      }
      &.bloc-web{
        background-color: #000;
        padding: 20px;
        h3{
          color:#FFF;
        }
        ul{
          li{
            a{
              font-size: 22 / 16 * 1em;
              color:#FFF;
              &:hover{
                color:$green;
              }
            }
            &:before{
              content:url('/assets/images/aside-arrow.png');
              margin-right:5px;
            }
          }
        }
      }
      &.bloc-telecharger{
        background-color:#EFEFEF;
        .pdf {
          margin-bottom: 10px;
        }
        .img{
          display: inline-block;
        }
        .text{
          display: inline-block;
          vertical-align: top;
          margin-left: 10px;
          p{
            font-family: $primary;
            font-weight:400;
            font-size: 20 / 16 * 1em;
            color: #000000;
            line-height: 24 / 20 * 1em;
            margin-bottom:0;
            a:hover{
              color:$green;
            }
          }
          em{
            font-style: normal;
            font-family: $primary;
            font-weight:400;
            font-size: 13 / 16 * 1em;
            color: #000000;
          }
        }
      }
    }
  }
}