footer{
  height: 367px;
  width: 100%;
  background-color: #000;
  color: #FFF;
  padding:41px 0;
  box-sizing: border-box;
  @include media(mobile-only){
    height:auto;
  }
  h4, h5{
    font-size:12 / 16 * 1em;;
    color:#FFF;
    font-weight:700;
  }
  p{
    font-size:12 / 16 * 1em;;
  }
  .column{
    width: 29%;
    display: inline-block;
    vertical-align: top;
    @include media(mobile-only){
      width: 100%;
      display: block;
      text-align: center;
    }
    .footer-text{
      margin-left: 86px;
      margin-top: 20px;
      @include media(mobile-only){
        margin-left:0;
      }
    }
    &.right-footer{
      text-align: right;
      float: right;
      @include media(mobile-only){
        text-align: center;
        float: none;
      }
      p{
        font-size:20 / 16 * 1em;;
        font-weight:500;
        margin-bottom:10px;
      }
      div{
        margin-bottom:10px;
      }
    }
    &.column2{
      margin-left:50px;
      @include media(mobile-only){
        display: none;
      }
    }
  }
  .menu-footer{
    font-size:0;
    margin-top:50px;
    ul{
      margin:auto;
      text-align: center;
      li{
        display: inline-block;
        font-size:14 / 16 * 1rem;
        font-family:$primary;
        margin: 0 20px;
        font-weight:700;
        @include media(mobile-only){
          display: block;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .bloc-footer{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .social{
    @include media(mobile-only){
      text-align: center;
    }
    margin-bottom:20px;
      li{
        img{
          &:hover{
            opacity: 0.8;
          }
        }
        display: inline-block;
      }
  }
}