#form{
  .bloc-page{
    p{
      font-family: $primary;
      font-weight:300;
      font-size: 24 / 16 * 1em;
      color: #000000;
      line-height: 38 / 24 * 1em;
    }
    .img-page{
      margin-bottom:50px;
    }
    .global{
      label{
        display: none;
      }
    }
    .form-group{
      margin-top: 80px;
      h3{
        margin-bottom:27px;
      }
      input{
        width:auto;
        margin-bottom: 20px;
      }
      span{
        display: block;
        width: 100%;
      }
      label{
        font-family: $primary;
        font-weight:300;
        font-size: 16 / 16 * 1em;
        color: #000000;
        letter-spacing: 0;
        margin-left: 5px;
        line-height: 24 / 16 * 1em;
      }
    }
    form{
      margin-top: 30px;
      .inputfile{
        border:none;
      }
      .lieu{
        font-size: 0;
        #code-postal{
          width: 20%;
          font-size: 16 / 16 * 1rem;
        }
        #ville{
          font-family: $primary;
          font-weight:300;
          font-size: 16 / 16 * 1rem;
          color: #000000;
          letter-spacing: 0;
          line-height: 24 / 16 * 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          background-color:transparent;
          border-radius: 0 !important;
          width:75%;
          float: right;
        }
      }
      /*.inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .inputfile + label {
        font-family: $primary;
        font-weight:400;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
        background-color: #EFEFEF;
        padding:4px 10px;
        display: inline-block;
        border:1px solid #CECECE;
      }

      .inputfile:focus + label,
      .inputfile + label:hover {
        background-color: #000;
      }*/
      input{
        border:none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        width: 100%;
        margin-bottom: 45px;
        font-family: $primary;
        font-weight:300;
        font-size: 16 / 16 * 1em;
        color: #000000;
        letter-spacing: 0;
        line-height: 24 / 16 * 1em;
        &:focus{
          outline:0;
        }
        &:checked{
          background:$green;
          color: $green;
        }
      }
    }
    .submit{
      display: block;
      text-align:center;
      margin:auto;
      input{
        transition:all 0.20s ease;
        font-family: $primary;
        font-weight:700;
        font-size: 19.2 / 16 * 1em;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 28.8 / 19 * 1em;
        background-color: $green;
        width: auto;
        text-transform: uppercase;
        border: none;
        display: inline-block;
        padding: 5px 25px;
        &:hover{
          background-color:#000;
        }
      }
    }
  }
}