.top-text{
  height: 90px;
  background-color: $green;
  position: sticky;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9;
  width: 100%;
  @include media(mobile-only){
    display:none;
  }
  img.info{
    float:left;
    padding-right: 22px;
  }
  .wrap{
    width:80%;
  }
  p{
    font-size: 18 / 16 * 1em;;
    color: #FFF;
    font-family: $primary;
    @include media(mobile-tablet-only){
      font-size: 15 / 16 * 1em;;
    }
  }
  div.close{
    font-size: 15 / 16 * 1em;;
    position: absolute;
    right: 62px;
    top: 24px;
    p{
      &:before{
        left: -22px;
        position: absolute;
        content:url('../images/close.png');
      }
      font-size: 15 / 16 * 1em;;
    }
  }
}

.social-box{
  @include media(mobile-only){
    display: none;
  }
  height: 80px;
  .social{
    float: right;
    padding: 23px 0;
    ul{
      li{
        display: inline-block;
        a{
          display: inline-block;
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          transition: all 0.20s ease;
          span {
            display: none;
          }
          &.facebook{
            background-image: url('/assets/images/social/facebook.png');
            &:hover{
              background-image: url('/assets/images/social/facebook-hover.png');
            }
          }
          &.twitter{
            background-image: url('/assets/images/social/twitter.png');
            &:hover{
              background-image: url('/assets/images/social/twitter-hover.png');
            }
          }
          &.instagram{
            background-image: url('/assets/images/social/instagram.png');
            &:hover{
              background-image: url('/assets/images/social/instagram-hover.png');
            }
          }
          &.linkedin{
            background-image: url('/assets/images/social/linkedin.png');
            &:hover{
              background-image: url('/assets/images/social/linkedin-hover.png');
            }
          }
          &.youtube{
            background-image: url('/assets/images/social/youtube.png');
            &:hover{
              background-image: url('/assets/images/social/youtube-hover.png');
            }
          }
          &.appli{
            background-image: url('/assets/images/social/appli.png');
            &:hover{
              background-image: url('/assets/images/social/appli-hover.png');
            }
          }
        }
      }
    }
  }
}