.banner{
  /*background-image: url('/assets/images/banniere.png');
  height: 654px;
  width: 100%;
  margin: auto;
  background-position: center top;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;*/
  position: relative;
  a{
    outline:0;
  }
  .sliderWrapper {
    width: 800px;
    height: 280px;
    position: relative;
    overflow: hidden;
  }

  .slider div {
    position: relative;
  }

  .slick-track{
    @include media(mobile-only){
      padding-bottom: 167px;
    }
  }
  .slick-slide{
    height: 654px;
    width: 100%;
    margin: auto;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include media(mobile-tablet-only){
      height: 400px;
    }
    @include media(mobile-only){
      height: 238px;
    }
  }
  .button {
    position: absolute;
    bottom: 55%;
    z-index: 200;
    cursor: pointer;
    color: #1c5785;
    font-size: 3em;
    @include media(mobile-only){
      bottom: 100%;
    }
  }

  .slick-list{
    width: 100%;
  }
  .sliderNext {
    right: 0;
  }

  .sliderPrev {
    left: 0;
  }

  .slick-prev {
    left: 0;
    &:before {
      background-image: url("/assets/images/cube-left.png");
    }
  }

  .slick-next {
    right: 0;
    &:before {
      background-image: url("/assets/images/cube-right.png");
    }
  }

  .left-arrow{
    position: absolute;
    left: 0;
    z-index: 9;
    top: 45%;
    @include media(mobile-only){
      top: 82px;
    }
  }
  .right-arrow{
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 9;
    @include media(mobile-only){
      top: 82px;
    }
  }
  .banner-text{
    width: 30%;
    padding: 35px 55px;
    height: 464px;
    position: absolute;
    top: 50px;
    left: 212px;
    background-image: url('/assets/images/slider-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    @include media(large){
      width: 40%;
    }
    @include media(mobile-only){
      position: relative;
      height: 262px;
      top: 189px;
      left: 50%;
      transform: translateX(-50%);
      width: 258px;
      padding: 2px 35px;
      box-sizing: border-box;
    }
    @include media(tablet-only){
      width: 25%;
      padding: 13px 40px;
    }
    hr{
      border: 2px solid #FFF;
    }
    h3, .h3{
      font-family: $primary;
      font-size: 30 / 16 * 1em;
      font-weight:400;
      color: #FEFEFE;
      margin-top: 16px;
      margin-bottom: 16px;
      text-transform: uppercase;
      @include media(mobile-tablet-only){
        font-size: 13 / 16 * 1em;
        line-height:18 / 13 * 1em;
      }
    }
    h2, .h2{
      font-family: $primary;
      font-size: 47 / 16 * 1em;
      color: #FEFEFE;
      letter-spacing: -0.55px;
      line-height: 50 / 47 * 1em;
      text-align: left;
      font-weight: 900;
      padding-top: 0px;
      @include media(mobile-tablet-only){
        font-size: 21 / 16 * 1em;
        line-height:25 / 21 * 1em;
        padding-left: 0px;
        width: 100%;
      }
      &:before{
        content: '';
        width: 30px;
        height: 4px;
        background: #FFF;
        display: block;
        margin-bottom: 12px;
        margin-top:10px;
      }
    }
    .box-slide{
      position: relative;
      height: 450px;
      @include media(mobile-tablet-only){
        position: relative;
        height: 200px;
        overflow: hidden;
      }
      .plus-white{
        right: 23%;
        position: absolute;
        bottom: -9px;
      }
    }
  }
}

.partenary{
  @include media(mobile-only){
    display: none;
  }
  h2{
    font-family: $condensed;
    font-weight:700;
    font-size: 29 / 16 * 1em;
    color: #000;
    width: max-content;
    border: 1.5px solid $green;
    padding: 2px 4px;
    margin: auto;
    margin-top: 50px;
    max-width: 250px;
  }
  .slider-nav{
    position:relative;
  }
  .slick-slider{
    margin: 40px 40px 60px 40px;
  }
  .slider-nav img {
    max-width: 100%;
    margin:auto;
  }
  .slider-for img {
    width: 100%;
  }

  .slider-nav .slick-slide:hover {
    cursor: pointer;
  }


  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    &:before {
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: "";
      display: block;
      height: 60px;
      opacity: 1;
      width: 30px;
    }
    &:hover:before {
      opacity: .8;
    }
  }

  .slick-prev {
    left: 0;
    &:before {
      background-image: url("/assets/images/cube-left.png");
    }
  }

  .slick-next {
    right: 0;
    &:before {
      background-image: url("/assets/images/cube-right.png");
    }
  }
  *:focus {
    outline: 0;
  }
}
.access{
  h2{
    font-family: $condensed;
    font-weight:700;
    font-size: 29 / 16 * 1em;
    color: #000;
    width: max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: -ms-max-content;
    border: 1.5px solid $green;
    padding: 2px 4px;
    margin: auto;
    margin-top: 50px;
    max-width: 200px;
    @include media(mobile-only){
      font-size: 17 / 16 * 1em;
    }
  }
  .slider-nav{
    position:relative;
  }
  .slick-slider{
    margin: 15px 40px 0 40px;
  }

  .slider-nav .slick-slide:hover {
    cursor: pointer;
  }


  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 9;
    font-size: 0;
    &:before {
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: "";
      display: block;
      height: 60px;
      opacity: 1;
      width: 30px;
    }
    &:hover:before {
      opacity: .8;
    }
  }

  .slick-prev {
    left: 0;
    &:before {
      background-image: url("/assets/images/access-left.png");
    }
  }

  .slick-next {
    right: 0;
    &:before {
      background-image: url("/assets/images/access-right.png");
    }
  }
  *:focus {
    outline: 0;
  }

  .desktop{
    @include media(mobile-only){
      display:none;
    }
    display: block;
  }
  .mobile{
    @include media(tablet){
      display: none;
    }
    display: block;
  }
  ul{
    margin-top:40px;
    font-size: 0;
    li{
      display: inline-block;
      width: 14.28%;
      margin: auto;
      text-align: center;
      vertical-align: top;
      img{
        width:75%;
        transition: all 0.15s ease;
        @include media(mobile-only){
          width: 105px;
          margin:auto;
          text-align:center;
        }
        &:hover{
          filter: grayscale(100%) brightness(140%);
        }
      }
      p{
        font-family: $condensed;
        font-size: 17 / 16 * 1rem;
        color: #1D1D1B;
        line-height: 20 / 17 * 1em;
        margin-top: 8px;
        @include media(mobile-only){
          font-size: 16 / 16 * 1rem;
        }
      }
    }
  }
}

.actu{
  font-size:0;
  .wrap{
    @include media(mobile-only){
      max-width:100%;
    }
  }
  .image-actus{
    width: 52%;
    font-size: 1rem;
    display: inline-block;
    @include media(mobile-only){
      width: 100%;
      .img{
        height: 219px !important;
      }
    }
    &:hover{
      .img{
        filter: contrast(120%);
      }
      p{
        color:$green;
      }
    }
    .img{
      width: 100%;
      height: 400px;
      transition:all 0.15s ease;
      display: inline-block;
      background-image: url('/assets/images/actu-1.png');
      background-size: cover;
      background-position: center;
    }
  }
  p{
    font-family: $primary;
    font-size: 24 / 16 * 1em;
    color: #1D1D1B;
    line-height: 28 / 24 * 1em;
    margin-top:5px;
    transition:all 0.15s ease;
    @include media(mobile-only){
      font-size:18 / 16 * 1em;
      line-height: 20 / 18 * 1em;
      padding:8px 15px;
    }
  }
  .actu-small{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    @include media(mobile-only){
      width: 100%;
    }
    p{
      font-size: 16 / 16 * 1em;
      line-height: 22 / 16 * 1em;
      margin-bottom: 8px;
      transition:all 0.15s ease;
      @include media(mobile-only){
        font-size:18 / 16 * 1em;
        line-height: 20 / 18 * 1em;
        padding:8px 15px;
      }
    }
    div.bloc{
      width:45%;
      display: inline-block;
      padding-left: 35px;
      box-sizing: border-box;
      vertical-align: top;
      @include media(mobile-only){
        width: 100%;
        display: block;
        padding-left:0;

        .img{
          height: 219px !important;
        }
      }
      &.bloc-3, &.bloc-4{
        @include media(mobile-only){
          display: none;
        }
      }
      &:hover{
        .img{
          filter: contrast(120%);
        }
        p{
          color:$green;
        }
      }
      .img{
        width:100%;
        height:171px;
        background-position: center;
        transition:all 0.15s ease;
        display: block;
      }
      .img-1{
        background-image: url('/assets/images/actu-2.png');
        background-size: cover;
      }
      .img-2{
        background-image: url('/assets/images/actu-3.png');
        background-size: cover;
      }
      .img-3{
        background-image: url('/assets/images/actu-4.png');
        background-size: cover;
      }
      .img-4{
        background-image: url('/assets/images/actu-5.png');
        background-size: cover;
      }
    }
  }
}

.hachure-button{
  background-image: url('/assets/images/hachure-button.png');
  background-size: 2%;
  @include media(mobile-only){
    background-size: 6%;
  }
  .button{
    display: block;
    height: 50px;
    background-color: #000;
    color: #FFF;
    font-size: 20 / 16 * 1em;
    width: 360px;
    @include media(mobile-only){
      min-width: 250px;
      margin: 20px auto 68px;
    }
    margin: auto;
    margin-top: 45px;
    box-sizing: border-box;
    text-align: center;
    border-right: 15px solid #FFF;
    border-left: 15px solid #FFF;
    margin-bottom:50px;
    position: relative;
    @include media(desktop){
      &:hover{
        i{
          position: absolute;
          left: 7px;
        }
        p{
          width: 276px;
          border-left: 4px solid #FFF;
          height: 43px;
          vertical-align: top;
          font-size:0;
          right:0;
          position: absolute;
          @include media(mobile-only){
            width: 247px;
            height: 34px;
          }
        }
      }
    }
    &.blue{
      em{
        padding-top: 0px;
      }
      &:hover{
        @include media(desktop) {
          em {
            font-size: 0px;
            margin-top: 1px;
            &:before {
              content: url('/assets/images/13commeune.png');
            }
          }
          p {
            padding-top: 8px;
            margin-top: 0px;
            background-color: #2D75C7;
          }
        }
      }
    }
    &.red{

      @include media(desktop){
        margin-bottom: 137px;
      }
      i{
        &:before{
          content:url('/assets/images/button-arrow-red.png');
        }
      }
      &:hover{
        @include media(desktop) {
          i {
            position: absolute;
            left: 7px;
          }
          p {
            width: 85%;
            border-left: 4px solid #FFF;
            height: 43px;
            vertical-align: top;
            background-color: #f80431;
            font-size: 0;
            right: 0;
            position: absolute;
          }
          em {
            font-size: 0px;
            margin-top: 1px;
            &:before {
              content: url('/assets/images/sortir-button.png');
            }
          }
        }
      }
    }
    i{
      display: inline-block;
      margin-top: 9px;
      vertical-align: top;
      &:before{
        content:url('/assets/images/button-arrow.png');
        margin-right: 10px;
        vertical-align: sub;
      }
    }
    p,em{
      font-family: $condensed;
      font-size: 24 / 16 * 1rem;;
      color: #FFFFFF;
      font-weight:700;
      padding-top: 7px;
      display: inline-block;
    }
    em{
      padding-top: 3px;
      font-style: normal;
    }
  }
}

.reseau{
  padding-bottom: 50px;
  background-image: url('/assets/images/hachure-button.png');
  background-size: 1.5%;
  .stream{
    li{
      @include media(mobile-only){
        max-width: 400px !important;
        width: 100%;
        position: relative;
        margin: 0 26px 12px 0;
      }
    }
  }
  @include media(mobile-only){
    background-size: 10%;
    margin-top:52px;
  }
  h2{
    @include media(tablet){
      margin-bottom: -50px;
    }
  }
  #wall{
    @include media(mobile){
      padding: 0 26px;
    }
  }
}