.communes{
  background-color:$green;
  padding-top:53px;
  -webkit-clip-path: polygon(0 0,100% 0,100% 82%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 82%,0 100%);
  padding-bottom: 80px;
  @include media(tablet){
    margin-bottom: 80px;
  }
  @include media(mobile-only){
    padding-top:11px;
    -webkit-clip-path: polygon(0 0,100% 0,100% 89%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 89%,0 100%);
  }
  .wrap{
    @include media(tablet){
      width: 90%;
    }
  }
  h3{
    font-family: $condensed;
    font-size: 55 / 16 * 1em;
    color: #FFFFFF;
    line-height: 58 / 55 * 1em;
    @include media(mobile-only){
      font-size: 29 / 16 * 1em;
      line-height: 32 / 29 * 1em;
      text-align: center;
    }
  }
  .svg-content{
    width: 60%;
    float: right;
    right: 5%;
    margin-top: -60px;
    @include media(mobile-only){
      position: absolute;
      width: 255px;
      transform: translateX(-50%);
      left: 50%;
      right: auto;
      margin-top: 0px;
      margin: auto;
    }
  }
  svg{
    width: auto !important;
    min-height: 500px !important;
    .st2 {
      fill: #7FA51B;
    }
    polygon, path{
      &.active{
        fill:#FFF;
      }
      &:hover{
        fill:#FFF;
      }
    }
    path#Fill-22{
      &:hover{
        fill:#48A7DD;
      }
    }
  }

  ul{
    margin-top:41px;
    @include media(mobile-only){
      margin-top: 188px;
      margin-bottom: 20px;
    }
    li{
      font-family: $primary;
      font-weight:400;
      font-size: 25 / 16 * 1em;
      color: #000000;
      line-height: 39 / 25 * 1em;
      @include media(mobile-only){
        font-size: 16 / 16 * 1em;
        color: #000;
        line-height: 23 / 16 * 1em;
        text-align: center;
      }
      a{
        color:#000;
        &:hover{
          color:#FFF;
        }
        &.active{
          font-weight:900;
          color:#FFF;
        }
      }
    }
  }
  .carte{
    position: absolute;
    right: 30px;
  }
}

.label-map{
  .label{
    background-image:url('/assets/images/carte-interactive.png');
    transition:all 0.20s ease;
    @include media(mobile-only){
      width:112px;
      text-align: center;
      position: absolute;
      margin: auto;
      transform: translateX(-50%);
      left: 50%;
    }
    @include media(tablet){
      position: absolute;
      right: 80px;
      margin-top: -280px;
      height: 165px;
      width: 165Px;
      background-size: contain;
      background-repeat: no-repeat;
      &:hover{
        background-image:url('/assets/images/carte-interactive-hover.png');
        transform:rotate(30deg);
      }
    }
  }
}
