nav{
  @include media(desktop){
    margin-top:30px;
  }
  @include media(mobile-only){
    position: fixed;
    top: 0;
    background-color: #FFF;
    padding: 10px 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 12px 0 0 rgba(242,242,242,.5);
    ul{
      display: none;
      height: auto;
      margin-top: 46px;
      background-color: #FFF;
    }
  }
  @include media(tablet-only){
    margin-top: 20px;
  }
  &.active{
    background-color: #000;
    box-shadow: none;
    padding:0px;
    &:before{
      height: 100vh;
      background: rgba(0,0,0,.3);
      content: '';
      top: 0;
      position: fixed;
      width: 100%;
      left: 0;
      z-index:-2;
    }
    .search{
      display: none;
    }
    .search-box{
      display: block !important;
      width: 100%;
      form p{
        font-family: $condensed;
        font-size: 16.9 / 16 * 1em !important;
        color: #FFFFFF;
      }
      form input{
        width:100%;
      }
    }
    .wrap{
      max-width:100%;
    }
    .logo{
      display: none;
    }
    ul{
      width: 100%;
      padding: 10px 40px;
      box-sizing: border-box;
      li{
        display: block;
        font-size:20 / 16 * 1em;
        padding: 13px 0 20px;
        position: relative;
        @include media(tablet-only){
          font-size: 15 / 16 * 1em;
        }
        > a{
          font-family: $condensed;
        }
        &.dropdown{
          &:after{
            content: url('/assets/images/arrow-mobile-menu.png');
            top: 15px;
            position: absolute;
            right: 0;
          }
          &.clicked{
            .sub-menu{
              >ul{
                @include media(mobile-only){
                  margin-top:0px;
                  li{
                    font-size: 14 / 16 * 1em;
                    padding:0px;
                    a{
                      text-transform: capitalize;
                      font-size: 14 / 16 * 1em;
                      line-height: 18 / 16 * 1em;
                    }
                  }
                }
              }
              h3{
                font-family: $primary;
                font-size: 17 / 16 * 1rem;
                color: #000000;
                line-height: 25 / 17 * 1rem;
                text-transform: capitalize;
                font-weight: 400;
                margin-bottom:0px;
                &:before{
                  content: url('/assets/images/arrow-list.png');
                  margin-right: 5px;
                }
              }
              > ul{
                display: none;
              }
            }
          }
        }
        .dropdown-content{
          display: none;
          margin-top:15px;
        }
      }
    }
    .menu-mobile{
      background-color: #000;
      height: 46px;
      padding-top:23px;
      p{
        color: #FFF;
        display: inline-block;
        float: left;
        position: fixed;
        left: 24px;
        top: 18px;
        font-family: $condensed;
        font-size: 15 / 16 * 1 em;
      }
    }
    a.menu-content{
      span{
        background:#FFF;
        &:before, &:after {
          background:#FFF;
          width:16px;
        }
      }
    }
  }
  .menu-mobile{
    @include media(tablet){
      display: none;
    }
    p{
      display: none;
    }
    background-color: $green;
    display: block;
    width: 65px;
    padding-top: 28px;
    padding-left: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    float: right;
    height: 64px;
    z-index:999;
    right: 0;
  }
  a.menu-content{
      cursor: pointer;
      padding: 12px 0;

      span {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        background: #222;
        transition: all .2s ease-in-out;

        &:before, &:after {
          position: absolute;
          background: #222;
          content: '';
          width: 28px;
          height: 4px;
          transition: all .2s ease-in-out;
        }

        &:before {
          top: -8px;
        }

        &:after {
          top: 8px;
        }
      }

    &.active {
      span {
        background: transparent;

        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }

        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
  .wrap{
    position: relative;
  }
  &.fixed{
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    background-color: #FFF;
    margin-top: 0;
    padding: 25px 0;
    box-shadow: 0px 12px 0px 0px rgba(#F2F2F2, 0.5);
    ul{
      margin-top: 10px;
    }
  }
  .logo{
    margin-right: 10px;
    width: 20%;
    @include media(mobile-only){
      width: 127px;
    }
  }
  .search-box{
    display: inline-block;
    background-color: $green;
    width: 78%;
    vertical-align: top;
    padding: 23px;
    box-sizing: border-box;
    form{
      p{
        font-family: $condensed;
        font-size: 26 / 16 * 1em;
        color: #000000;
        display: inline-block;
        margin-right:19px;
      }
      input{
        height: 39px;
        width: 78%;
      }
    }
    .croix{
      margin-left:10px;
      opacity:1;
      transition: all 0.20s ease;
      &:hover{
        opacity:0.6;
      }
      @include media(mobile-only){
        display: none;
      }
    }
    .search-content{
      position: relative;
      .search-icon{
        position: absolute;
        right: 14px;
        top: -4px;
      }
    }
  }
  ul{
    @include media(tablet){
      display: inline-block;
    }
    vertical-align: top;
    li{
      display: inline-block;
      font-family: $condensed;
      color: #1D1D1B;
      text-transform: uppercase;
      vertical-align: middle;
      &.active{
        > a{
          color:#FFF;
          @include media(mobile-only){
            color:$green;
          }
        }
      }
      @include media(mobile-tablet-only){
        font-size:17 / 16 * 1em;
        margin: 0px;
        padding: 2px 5px;
      }
      @include media(desktop){
        font-size: 22 / 16 * 1em;
        padding: 2px 8px;
        margin: 0 2px;
      }
      @include media(tablet){
        &:hover{
          background-color:#000;
          > a{
            color:#FFF;
          }
        }
      }
      .search{
        @include media(mobile-tablet-only){
          width:30px;
        }
        @include media(desktop){
          width:50px;
        }
      }
      &.search{
        background-image:url('/assets/images/loupe.png');
        height: 60px;
        width: 60px;
        background-repeat:no-repeat;
        background-size:contain;
        transition:all 0.20s ease;
          &:hover{
            background-color:transparent;
            background-image:url('/assets/images/search-hover.png');
            cursor:pointer;
        }
      }
      &.dropdown{
        @include media(tablet){
          &.clicked{
            &:before{
              height: 100vh;
              background: rgba(0, 0, 0, 0.3);
              content: '';
              top: 0;
              position: fixed;
              width: 100%;
              left: 0;
            }
          }
        }
        &:after{
          content:url('/assets/images/menu-arrow.png');
          margin-left: 10px;
        }
      }
      @include media(tablet){
        &.active{
          background: #000;
          color: #FFF;
        }
      }
    }
  }
  @include media(tablet){

    .dropdown-content{
      display: none;
      font-size: 0;
      position: absolute;
      background-color: #FFF;
      box-shadow: 1px 2px 12px 0 #e6e3e3;
      top: 120px;
      left: 0;
      height: auto;
      z-index: 99;
      padding: 0px 45px 60px;
      box-sizing: border-box;
      width: 100%;
      &:before{
        content:url('/assets/images/close-menu.png');
        position: absolute;
        right: 0;
      }
      .column{
        width: 33%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
      }
      .sub-menu{
        margin-top: 60px;
      }
      h3{
        font-family: $condensed;
        font-weight:400;
        font-size: 24 / 16 * 1em;;
        color: #000000;
        line-height: 27 / 24 * 1em;;
        width: 58%;
        text-transform: uppercase;
        &:before{
          content: '';
          width: 30px;
          height: 4px;
          background: $green;
          display: block;
          margin-bottom: 12px;
        }
        a{
          color:#000;
        }
      }
      ul{
        li{
          text-transform: initial;
          font-family: $primary;
          font-size: 18 / 16 * 1em;;
          color: #000000;
          line-height: 25 / 18 * 1em;
          padding: 0 10px;
          width: max-content;
          display: block;
          a{
            color:#000;
          }
          &:hover{
            background:#000;
            a{
              color:#FFF;
            }
          }
          &:before{
            content:url('/assets/images/arrow-list.png');
            margin-right:5px;
          }
          &.active a{
            color:#FFF;
          }
        }
      }
    }
  }
}

