body{
  @include media(mobile-only){
    padding-top: 60px;
  }
  h2{
    font-family: $primary;
    font-size: 55 / 16 * 1rem;
    color: #1D1D1B;
    font-weight: 300;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 50px;
    @include media(mobile-only){
      font-size: 30 / 16 * 1rem;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 15px;
    }
  }

  h3, .h3{
    font-family: $primary;
    font-size: 24 / 16 * 1em;
    color: #1D1D1B;
    font-weight: 500;
    line-height: 33 / 24 * 1em;
    margin-bottom:10px;
    display: block;
  }

  h4, .h4{
    font-family:$primary;
    font-size: 22 / 16 * 1em;
    color: #9C9C9C;
    margin-bottom:8px;
    display: block;
  }
  .project{
    background-image: url('/assets/images/trame.png');
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 89px;
    box-sizing: border-box;
    @include media(mobile-only){
      margin-top: 30px;
      height: auto;
    }
    .wrap{
      @include media(tablet-only){
        width:85%;
      }
    }
    h2{
      @include media(mobile-only){
        max-width: 235px;
        padding-top: 15px;
        margin-bottom: 0px;
        line-height: 30px;
      }
    }
    @include media(mobile-only){
      background-image: url('/assets/images/hachure-button.png');
      background-size: 7%;
      background-repeat: repeat;
    }
    .sliderWrapper {
      width: 800px;
      height: 280px;
      position: relative;
      overflow: hidden;
    }

    .slick-track{
      @include media(mobile-only){
        padding: 20px 0 120px;
      }
    }
    .slider div {
      position: relative;
      @include media(tablet){
        margin-top: -50px;
        padding-top: 53px;
        box-sizing: border-box;
      }
    }

    .slick-slide{
      height: 654px;
      width: 100%;
      margin: auto;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      @include media(mobile-tablet-only){
        height: 400px;
      }
      @include media(mobile-only){
        height: 238px;
      }
    }
    .button {
      position: absolute;
      bottom: 55%;
      z-index: 200;
      cursor: pointer;
      color: #1c5785;
      font-size: 3em;
    }

    .slick-list{
      width: 100%;
    }
    .sliderNext {
      right: -50px;
      bottom: 63%;
      @include media(mobile-only){
        right: 0;
        bottom: 89%;
      }
    }

    .sliderPrev {
      left: -50px;
      bottom: 63%;
      @include media(mobile-only){
        left: 0;
        bottom: 89%;
      }
    }

    .slick-prev {
      left: 0;
      &:before {
        background-image: url("/assets/images/cube-left.png");
      }
    }

    .slick-next {
      right: 0;
      &:before {
        background-image: url("/assets/images/cube-right.png");
      }
    }

    .left-arrow{
      position: absolute;
      left: 0;
      top: 45%;
      @include media(mobile-only){
        top: 82px;
      }
    }
    .right-arrow{
      position: absolute;
      right: 0;
      top: 45%;
      @include media(mobile-only){
        top: 82px;
      }
    }

    .wrap{
      @include media(mobile-only){
        max-width:100%;
      }
    }
    .h3, h3{
      @include media(mobile-only){
        font-size: 18 / 16 * 1em;
        font-weight: 500;
        line-height: 24 / 18 * 1em;
      }
    }
    h4{
      @include media(mobile-only){
        font-size: 14 / 16 * 1em;
        line-height: 19 / 14 * 1em;
      }
    }
    .label{
      position: absolute;
      top: 0px;
      margin-left: 50px;
      @include media(mobile-only){
        z-index: 9;
        width: 70px;
        right: 40px;
        top: -20px;
      }
    }
    .box-project{
      font-size: 0;
      position: relative;
      .img-project{
        width: 52%;
        display: inline-block;
        height: 415px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include media(mobile-only){
          width: 100%;
          display: block;
          height: 235px;
        }
        img{
          width:100%;
        }
      }
      .text-project{
        width: 45%;
        float:right;
        font-size:18 / 16 * 1rem;
        display: inline-block;
        padding: 48px 30px;
        position: relative;
        box-sizing: border-box;
        background-color: #FFF;
        height: 415px;
        @include media(mobile-only){
          width: 100%;
          padding: 10px 20px;
          height:auto;
        }
        p, .p{
          @include media(mobile-only){
            display: none;
          }
          font-family: $primary;
          font-size: 18 / 16 * 1em;
          color: #000000;
          line-height: 27 / 18 * 1em;

          @include media(tablet-only){
            font-size: 14 / 16 * 1rem;
          }
        }
        img{
          position: absolute;
          right: 30px;
          bottom: 30px;
          @include media(mobile-only){
            display:none;
          }
        }
      }
    }
  }


  .page{
    &.wrap{
      @include media(mobile-only){
        max-width: 100%;
      }
    }
    .page-content{
      width: 100%;
      margin: auto;
      @include media(mobile-tablet-only){
        width: 100%;
      }
    }
    .bloc-page{
      width: 66%;
      display: inline-block;
      padding-right: 24px;
      box-sizing: border-box;
      @include media(mobile-only){
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
        display: block;
        margin: auto;
      }
      p{
        margin-bottom: 19px;
      }
    }
    aside{
      display: inline-block;
      vertical-align: top;
      width: 33%;
      margin-top: 40px;
      box-sizing: border-box;
      @include media(mobile-only){
        display: block;
        padding: 26px 30px 10px;
        width: 100%;
        border-right: 24px solid #FFF;
        border-left: 24px solid #FFF;
        text-align: center;
      }
      @include media(mobile-only){
        padding:0px;
      }
      .bloc-contact{
        background-color: #EFEFEF;
      }
      .bloc{
        padding: 26px 30px;
      }
      h3{
        font-family: $primary;
        font-weight: 700;
        font-size: 36 / 16 * 1em;
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
        @include media(mobile-only){
          font-size: 36 / 16 * 1em;
          margin-bottom: 9px;
        }
      }

      .website{
        color:$green;
        transition: all 0.20s ease;
        &:hover{
          color:darken($green,10%);
        }
      }
      p{
        font-size: 21 / 16 * 1em;
        font-family: $primary;
        line-height: 29 / 21 * 1em;
        @include media(mobile-tablet-only){
          font-size: 19 / 16 * 1em;
          font-family: $primary;
          line-height: 19 / 17 * 1em;
          margin-bottom: 5px;
        }
        &.phone{
          margin-top: 20px;
          position: relative;
          &:before{
            content:url('/assets/images/tel.png');
            margin-right:5px;
            position: absolute;
            top: -10px;
          }
          span{
            margin-left: 25px;
          }
        }
        em{
          font-weight: 700;
          font-style: normal;
          line-height: 29 / 16 * 1em;
        }
      }
    }
    h1{
      font-family: $primary;
      font-weight:300;
      text-align: left;
      font-size: 54 / 16 * 1em;
      color: #000000;
      line-height: 60 / 54 * 1em;
      padding:73px 0 30px;
      display: inline-block;
      max-width: 900px;
      @include media(mobile-tablet-only){
        padding: 16px 24px;
        font-size: 30 / 16 * 1em;
        line-height: 30 / 30 * 1em;
        margin-top:30px;
      }
    }
    p{
      font-family: $primary;
      font-weight:300;
      font-size: 16 / 16 * 1em;
      color: #000000;
      line-height: 24 / 16 * 1em;
      @include media(mobile-only){
        margin-bottom: 20px;
      }
    }
    h2{
      font-family: $primary;
      font-weight:700;
      font-size: 28 / 16 * 1em;
      text-align: left;
      color: #000000;
      line-height: 36 / 28 * 1em;
      @include media(mobile-only){
        font-size: 21 / 16 * 1em;
        padding: 0;
        margin-bottom:20px;
      }
    }
    .intro{
      margin-top:51px;
      margin-bottom:30px;
      p{
        font-family: $primary;
        font-weight:300;
        font-size: 24 / 16 * 1em;
        color: #000000;
        line-height: 38 / 24 * 1em;
        @include media(mobile-tablet-only){
          font-size: 22 / 16 * 1em;
          line-height: 31 / 22 * 1em;
        }
      }
    }
    .share{
      text-align: right;
      margin-top: -75px;
      margin-bottom: 30px;
      @include media(mobile-only){
        display: none;
      }
      img{
        &:hover{
          opacity:0.6;
          cursor:pointer;
        }
      }
    }
    .img-page{
      height:500px;
      width:100%;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      background-position: center;
    }
    .breadcrumb{
      margin-top:40px;
      @include media(mobile-only){
        display:none;
      }
      a{
        color:#9B9B9B;
        transition: all 0.15s ease;
        &:hover{
          color:$green;
        }
      }
      p{
        font-family: $primary;
        font-size: 15 / 16 * 1em;
        color: #9B9B9B;
        font-weight:400;
        em{
          color:#000;
          font-style: normal;
        }
      }
    }
  }

  .more{
    height: auto;
    padding-bottom: 50px;
    margin-top: 40px;
    background-image: url('/assets/images/hachure-button.png');
    background-size: 2%;
    @include media(mobile-only){
      background-size: 10%;
      height:auto;
    }
    .more-content{
      font-size: 0;
      h2{
        font-size: 54 / 16 * 1rem;
        text-align: left;
        @include media(mobile-only){
          text-align: left;
          font-size: 30 / 16 * 1rem;
          text-transform: uppercase;
          padding-top: 26px;
          padding-bottom: 26px;
          margin: 0;
        }
      }
      .item{
        display: inline-block;
        width: 32%;
        margin-bottom: 50px;
        @include media(mobile-only){
          display: none;
        }
        &:hover{
          p a{
            color:$green;
          }
        }
        &:nth-child(2){
          @include media(mobile-only){
            display: block !important;
            width: 100%;
          }
        }
        &:nth-child(3n){
          margin: 0 2%;
          @include media(mobile-only){
            margin:0px;
          }
        }
        p{
          font-size: 24 / 16 * 1rem;
          color: #1D1D1B;
          font-family: $primary;
          line-height: 27 / 24 * 1em;
          margin-top:15px;
          @include media(mobile-tablet-only){
            font-size: 18 / 16 * 1rem;
            line-height: 22 / 18 * 1em;
            margin-left: 24px;
            padding-bottom: 50px;
          }
        }
      }
      .item-more{
        background-size: cover;
        background-position: center;
        height: 242px;
        display: block;
      }
    }
  }
  .wrap{
    margin:auto;
    @include media(mobile-tablet-only){
      max-width: 98%;
    }
    @include media(desktop){
      width: 92%;
      max-width: 1400px;
    }
  }
  .cookies{
    position: fixed;
    bottom: 40px;
    z-index: 999;
    width: 92%;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5B5B5B;
    text-align: center;
    box-sizing: border-box;
    padding: 17px 20px;
    height: 150px;
    img{
      vertical-align: bottom;
      margin-right: 5px;
    }
    @include media(mobile-tablet-only){
      position: fixed;
      bottom: 0px;
      z-index: 999;
      width: 100%;
      margin: auto;
      background-color: #5B5B5B;
      p{
        font-size: 0.8em;
        color:#FFF;
        text-align:left;
      }
    }
    @include media(desktop){
      p{
        font-family: $primary;
        font-weight:500;
        font-size: 18 / 16 * 1em;
        text-align:left;
        color: #FFF;
      }
    }
    .button-1{
      padding: 10px;
      background-color: #F5F5F5;
      font-family: $condensed;
      font-size: 24px;
      color: #000000;
      font-weight:700;
      @include media(mobile-tablet-only){
        font-size: 13px;
        padding: 5px;
      }
      &:hover{
        background-color: lighten(#F5F5F5, 10%);
      }
    }
    .button-2{
      font-family: $condensed;
      font-weight:700;
      font-size: 24px;
      color: #FEFEFE;
      background:$green;
      padding: 10px 60px;
      margin-left:20px;
      @include media(mobile-tablet-only){
        font-size: 13px;
        padding: 5px 20px;
        margin-left:10px;
      }
      &:hover{
        background-color: lighten($green, 10%);
      }
    }
    div{
      display: block;
      position: absolute;
      right: 20px;
      bottom: 30px;
      @include media(mobile-only){
        bottom:15px;
      }
    }
  }

}

.stream{
  @include media(mobile-only){
    li:nth-child(1), li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8){
      display: none !important;
    }
  }
}