body .page.search-result{
  ul.list-result{
    li{
      margin-top:43px;
      h3{
        font-weight:700;
        margin-bottom:0px;
      }
      em{
        font-style:normal;
        background-color:$green;
      }
    }
    margin-bottom:94px;
  }
  h1{
    font-family: $primary;
    font-weight:700;
    font-size: 28 / 16 * 1em;
    color: #000000;
    padding-bottom:0;
  }
  h2{
    font-family: $primary;
    font-weight:700;
    font-size: 20px;
    margin-bottom: 15px;
    padding-top:20px;
    color: #000000;
    strong{
      font-size: 16px;
      font-weight: 300;
    }
    &.title-result{
      border-bottom: 1px solid $green;
      padding-bottom: 10px;
      padding-top:50px;
    }
  }
  .page-content{
    width: 100%;
  }
  .result{
    form{
      display: block;
      background-color: $green;
      width: 100%;
      vertical-align: top;
      padding: 23px;
      box-sizing: border-box;
      input{
        width: 95%;
        height: 40px;
      }
    }
    .croix{
      margin-left:10px;
      opacity:1;
      transition: all 0.20s ease;
      &:hover{
        opacity:0.6;
      }
      @include media(mobile-only){
        display: none;
      }
    }
    .search-content{
      position: relative;
      .search-icon{
        position: absolute;
        right: 14px;
        top: -4px;
      }
    }
  }
}