.sortir{
  font-size:0;
  .wrap{
    @include media(mobile-only){
      max-width:100%;
    }
    h2{
      @include media(mobile-only){
        padding-top:0px;
      }
    }
  }
  .item{
    width: 31.3%;
    font-size:1rem;
    vertical-align: top;
    @include media(mobile-only){
      width: 100%;
      &.item-2, &.item-3{
        display:none;
      }
    }
    .item-date{
      display: inline-block;
      text-align: center;
      line-height: 23 / 16 * 1em;
      padding-top: 10px;
      position: relative;
      margin: 0 5px;
      &.first:after{
        content:url('/assets/images/fleche-date.png');
        position: absolute;
        top: 20px;
        right: -13.5px;
      }
    }
    &:hover{
      /*.img{
        filter:contrast(120%);
      }*/
      .title{
        color:$green;
      }
    }
    span{
      display: block;
    }
    .date{
      text-align: center;
      font-size: 18 / 16 * 1em;
      display: block;
      float:right;
      font-family:$condensed;
      font-weight:700;
      color:#000;
      background-image:url('/assets/images/date-sortir.png');
      width: 95px;
      height: 76px;
      margin-right: 15px;
      em{
        font-size:31 / 16 * 1em;
        font-style: normal;
        font-family:$condensed;
        font-weight:700;
        color:#000;
        display: block;
      }
    }
    .title{
      font-size:24 / 16 * 1em;
      color:#000;
      width: 93%;
      line-height: 27 / 24 * 1em;
      @include media(mobile-only){
        font-size: 18 / 16 * 1em;
        color: #1D1D1B;
        line-height: 20px;
        margin-left: 27px;
      }
    }
    .categorie{
      font-family: $condensed;
      font-weight:700;
      font-size: 18 / 16 * 1em;
      color: #1D1D1B;
      background-color: $green;
      width: max-content;
      padding: 2px 10px;
      margin-bottom:10px;
      display: inline-block;
    }
    display: inline-block;
    .img{
      height:242px;
      background-size:cover;
      margin-top: 35px;
    }
    &.item-2{
      @include media(tablet){
        margin: 0 3%;
      }
    }
  }
}