/* BREAKPOINTS */

@mixin media($point) {
	@if $point == mobile {
		@media screen and (min-width: 200px) { @content; }
	}

	@else if $point == tablet {
		@media screen and (min-width: 760px) { @content; }
	}

	@else if $point == desktop {
		@media screen and (min-width: 1025px) { @content; }
	}

	@else if $point == mobile-only {
	  @media screen and (max-width: 760px) { @content; }
	}
	@else if $point == tablet-only {
	  @media (min-width: 760px) and (max-width: 1025px) { @content; }
	}

	@else if $point == mobile-tablet-only {
	  @media screen and (max-width: 1025px) { @content; }
	}

	@else if $point == large {
		@media (min-width: 1024px) and (max-width: 1440px) { @content; }
	}
    /* Deprecated */
    @else if $point == large-screen {
		@media screen and (min-width: 1200px) { @content; }
	}
	@else if $point == huge {
		@media screen and (min-height: 900px) and (min-width: 1200px) { @content; }
	}
}

@mixin filter($value) {
	-webkit-filter: drop-shadow($value);
	filter: drop-shadow($value);
}



	