@charset "UTF-8";
/* BASE */
/* BREAKPOINTS */
/*
--------------------
RESET
--------------------
*/
html {
  color: #000;
  height: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  font-size: 100%; }

/*
--------------------
GENERAL
--------------------
*/
* {
  font-family: "Roboto", sans-serif; }

.sep {
  clear: both;
  overflow: hidden; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.justify {
  text-align: justify; }

.underline {
  text-decoration: underline; }

.content_text,
.intro.text {
  text-align: justify;
  line-height: 1.25em; }

.content_text p,
.text p {
  margin: 0 0 1em; }

.content_text ul,
.text ul {
  margin: 0 0 1em;
  padding-left: 1em; }

.content_text li,
.text li {
  list-style: disc;
  margin-bottom: 0.33em; }

img.image-droite, img.right, .image-droite img {
  max-width: 100%;
  margin: 10px 0; }
  @media screen and (min-width: 760px) {
    img.image-droite, img.right, .image-droite img {
      float: right;
      margin: 0 10px 0 10px;
      max-width: 50%; } }

img.image-gauche, img.left, .image-gauche img {
  max-width: 100%;
  margin: 10px 0; }
  @media screen and (min-width: 760px) {
    img.image-gauche, img.left, .image-gauche img {
      float: left;
      margin: 0 10px 0 10px;
      max-width: 50%; } }

a {
  text-decoration: none;
  color: #000; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.linkMobileWebsite {
  display: none; }

img.nosvg {
  display: none; }

body.nosvg img.nosvg {
  display: block; }

body.nosvg img.svg {
  display: none; }

iframe {
  border: none; }

/* partials */
.top-text {
  height: 90px;
  background-color: #94C01F;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .top-text {
      display: none; } }
  .top-text img.info {
    float: left;
    padding-right: 22px; }
  .top-text .wrap {
    width: 80%; }
  .top-text p {
    font-size: 1.125em;
    color: #FFF;
    font-family: "Roboto", sans-serif; }
    @media screen and (max-width: 1025px) {
      .top-text p {
        font-size: 0.9375em; } }
  .top-text div.close {
    font-size: 0.9375em;
    position: absolute;
    right: 62px;
    top: 24px; }
    .top-text div.close p {
      font-size: 0.9375em; }
      .top-text div.close p:before {
        left: -22px;
        position: absolute;
        content: url("../images/close.png"); }

.social-box {
  height: 80px; }
  @media screen and (max-width: 760px) {
    .social-box {
      display: none; } }
  .social-box .social {
    float: right;
    padding: 23px 0; }
    .social-box .social ul li {
      display: inline-block; }
      .social-box .social ul li a {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        transition: all 0.20s ease; }
        .social-box .social ul li a span {
          display: none; }
        .social-box .social ul li a.facebook {
          background-image: url("/assets/images/social/facebook.png"); }
          .social-box .social ul li a.facebook:hover {
            background-image: url("/assets/images/social/facebook-hover.png"); }
        .social-box .social ul li a.twitter {
          background-image: url("/assets/images/social/twitter.png"); }
          .social-box .social ul li a.twitter:hover {
            background-image: url("/assets/images/social/twitter-hover.png"); }
        .social-box .social ul li a.instagram {
          background-image: url("/assets/images/social/instagram.png"); }
          .social-box .social ul li a.instagram:hover {
            background-image: url("/assets/images/social/instagram-hover.png"); }
        .social-box .social ul li a.linkedin {
          background-image: url("/assets/images/social/linkedin.png"); }
          .social-box .social ul li a.linkedin:hover {
            background-image: url("/assets/images/social/linkedin-hover.png"); }
        .social-box .social ul li a.youtube {
          background-image: url("/assets/images/social/youtube.png"); }
          .social-box .social ul li a.youtube:hover {
            background-image: url("/assets/images/social/youtube-hover.png"); }
        .social-box .social ul li a.appli {
          background-image: url("/assets/images/social/appli.png"); }
          .social-box .social ul li a.appli:hover {
            background-image: url("/assets/images/social/appli-hover.png"); }

@media screen and (min-width: 1025px) {
  nav {
    margin-top: 30px; } }

@media screen and (max-width: 760px) {
  nav {
    position: fixed;
    top: 0;
    background-color: #FFF;
    padding: 10px 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 12px 0 0 rgba(242, 242, 242, 0.5); }
    nav ul {
      display: none;
      height: auto;
      margin-top: 46px;
      background-color: #FFF; } }

@media (min-width: 760px) and (max-width: 1025px) {
  nav {
    margin-top: 20px; } }

nav.active {
  background-color: #000;
  box-shadow: none;
  padding: 0px; }
  nav.active:before {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -2; }
  nav.active .search {
    display: none; }
  nav.active .search-box {
    display: block !important;
    width: 100%; }
    nav.active .search-box form p {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.05625em !important;
      color: #FFFFFF; }
    nav.active .search-box form input {
      width: 100%; }
  nav.active .wrap {
    max-width: 100%; }
  nav.active .logo {
    display: none; }
  nav.active ul {
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box; }
    nav.active ul li {
      display: block;
      font-size: 1.25em;
      padding: 13px 0 20px;
      position: relative; }
      @media (min-width: 760px) and (max-width: 1025px) {
        nav.active ul li {
          font-size: 0.9375em; } }
      nav.active ul li > a {
        font-family: "Roboto Condensed", sans-serif; }
      nav.active ul li.dropdown:after {
        content: url("/assets/images/arrow-mobile-menu.png");
        top: 15px;
        position: absolute;
        right: 0; }
      @media screen and (max-width: 760px) {
        nav.active ul li.dropdown.clicked .sub-menu > ul {
          margin-top: 0px; }
          nav.active ul li.dropdown.clicked .sub-menu > ul li {
            font-size: 0.875em;
            padding: 0px; }
            nav.active ul li.dropdown.clicked .sub-menu > ul li a {
              text-transform: capitalize;
              font-size: 0.875em;
              line-height: 1.125em; } }
      nav.active ul li.dropdown.clicked .sub-menu h3 {
        font-family: "Roboto", sans-serif;
        font-size: 1.0625rem;
        color: #000000;
        line-height: 1.47059rem;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 0px; }
        nav.active ul li.dropdown.clicked .sub-menu h3:before {
          content: url("/assets/images/arrow-list.png");
          margin-right: 5px; }
      nav.active ul li.dropdown.clicked .sub-menu > ul {
        display: none; }
      nav.active ul li .dropdown-content {
        display: none;
        margin-top: 15px; }
  nav.active .menu-mobile {
    background-color: #000;
    height: 46px;
    padding-top: 23px; }
    nav.active .menu-mobile p {
      color: #FFF;
      display: inline-block;
      float: left;
      position: fixed;
      left: 24px;
      top: 18px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 0.9375 em; }
  nav.active a.menu-content span {
    background: #FFF; }
    nav.active a.menu-content span:before, nav.active a.menu-content span:after {
      background: #FFF;
      width: 16px; }

nav .menu-mobile {
  background-color: #94C01F;
  display: block;
  width: 65px;
  padding-top: 28px;
  padding-left: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  float: right;
  height: 64px;
  z-index: 999;
  right: 0; }
  @media screen and (min-width: 760px) {
    nav .menu-mobile {
      display: none; } }
  nav .menu-mobile p {
    display: none; }

nav a.menu-content {
  cursor: pointer;
  padding: 12px 0; }
  nav a.menu-content span {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    background: #222;
    transition: all .2s ease-in-out; }
    nav a.menu-content span:before, nav a.menu-content span:after {
      position: absolute;
      background: #222;
      content: '';
      width: 28px;
      height: 4px;
      transition: all .2s ease-in-out; }
    nav a.menu-content span:before {
      top: -8px; }
    nav a.menu-content span:after {
      top: 8px; }
  nav a.menu-content.active span {
    background: transparent; }
    nav a.menu-content.active span:before {
      -ms-transform: rotate(45deg) translate(5px, 6px);
      transform: rotate(45deg) translate(5px, 6px); }
    nav a.menu-content.active span:after {
      -ms-transform: rotate(-45deg) translate(5px, -6px);
      transform: rotate(-45deg) translate(5px, -6px); }

nav .wrap {
  position: relative; }

nav.fixed {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  background-color: #FFF;
  margin-top: 0;
  padding: 25px 0;
  box-shadow: 0px 12px 0px 0px rgba(242, 242, 242, 0.5); }
  nav.fixed ul {
    margin-top: 10px; }

nav .logo {
  margin-right: 10px;
  width: 20%; }
  @media screen and (max-width: 760px) {
    nav .logo {
      width: 127px; } }

nav .search-box {
  display: inline-block;
  background-color: #94C01F;
  width: 78%;
  vertical-align: top;
  padding: 23px;
  box-sizing: border-box; }
  nav .search-box form p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.625em;
    color: #000000;
    display: inline-block;
    margin-right: 19px; }
  nav .search-box form input {
    height: 39px;
    width: 78%; }
  nav .search-box .croix {
    margin-left: 10px;
    opacity: 1;
    transition: all 0.20s ease; }
    nav .search-box .croix:hover {
      opacity: 0.6; }
    @media screen and (max-width: 760px) {
      nav .search-box .croix {
        display: none; } }
  nav .search-box .search-content {
    position: relative; }
    nav .search-box .search-content .search-icon {
      position: absolute;
      right: 14px;
      top: -4px; }

nav ul {
  vertical-align: top; }
  @media screen and (min-width: 760px) {
    nav ul {
      display: inline-block; } }
  nav ul li {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    color: #1D1D1B;
    text-transform: uppercase;
    vertical-align: middle; }
    nav ul li.active > a {
      color: #FFF; }
      @media screen and (max-width: 760px) {
        nav ul li.active > a {
          color: #94C01F; } }
    @media screen and (max-width: 1025px) {
      nav ul li {
        font-size: 1.0625em;
        margin: 0px;
        padding: 2px 5px; } }
    @media screen and (min-width: 1025px) {
      nav ul li {
        font-size: 1.375em;
        padding: 2px 8px;
        margin: 0 2px; } }
    @media screen and (min-width: 760px) {
      nav ul li:hover {
        background-color: #000; }
        nav ul li:hover > a {
          color: #FFF; } }
    @media screen and (max-width: 1025px) {
      nav ul li .search {
        width: 30px; } }
    @media screen and (min-width: 1025px) {
      nav ul li .search {
        width: 50px; } }
    nav ul li.search {
      background-image: url("/assets/images/loupe.png");
      height: 60px;
      width: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.20s ease; }
      nav ul li.search:hover {
        background-color: transparent;
        background-image: url("/assets/images/search-hover.png");
        cursor: pointer; }
    @media screen and (min-width: 760px) {
      nav ul li.dropdown.clicked:before {
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
        content: '';
        top: 0;
        position: fixed;
        width: 100%;
        left: 0; } }
    nav ul li.dropdown:after {
      content: url("/assets/images/menu-arrow.png");
      margin-left: 10px; }
    @media screen and (min-width: 760px) {
      nav ul li.active {
        background: #000;
        color: #FFF; } }

@media screen and (min-width: 760px) {
  nav .dropdown-content {
    display: none;
    font-size: 0;
    position: absolute;
    background-color: #FFF;
    box-shadow: 1px 2px 12px 0 #e6e3e3;
    top: 120px;
    left: 0;
    height: auto;
    z-index: 99;
    padding: 0px 45px 60px;
    box-sizing: border-box;
    width: 100%; }
    nav .dropdown-content:before {
      content: url("/assets/images/close-menu.png");
      position: absolute;
      right: 0; }
    nav .dropdown-content .column {
      width: 33%;
      display: inline-block;
      vertical-align: top;
      font-size: 1rem; }
    nav .dropdown-content .sub-menu {
      margin-top: 60px; }
    nav .dropdown-content h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-size: 1.5em;
      color: #000000;
      line-height: 1.125em;
      width: 58%;
      text-transform: uppercase; }
      nav .dropdown-content h3:before {
        content: '';
        width: 30px;
        height: 4px;
        background: #94C01F;
        display: block;
        margin-bottom: 12px; }
      nav .dropdown-content h3 a {
        color: #000; }
    nav .dropdown-content ul li {
      text-transform: initial;
      font-family: "Roboto", sans-serif;
      font-size: 1.125em;
      color: #000000;
      line-height: 1.38889em;
      padding: 0 10px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: block; }
      nav .dropdown-content ul li a {
        color: #000; }
      nav .dropdown-content ul li:hover {
        background: #000; }
        nav .dropdown-content ul li:hover a {
          color: #FFF; }
      nav .dropdown-content ul li:before {
        content: url("/assets/images/arrow-list.png");
        margin-right: 5px; }
      nav .dropdown-content ul li.active a {
        color: #FFF; } }

@media screen and (max-width: 760px) {
  body {
    padding-top: 60px; } }

body h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.4375rem;
  color: #1D1D1B;
  font-weight: 300;
  margin-bottom: 35px;
  text-align: center;
  padding-top: 50px; }
  @media screen and (max-width: 760px) {
    body h2 {
      font-size: 1.875rem;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 15px; } }

body h3, body .h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #1D1D1B;
  font-weight: 500;
  line-height: 1.375em;
  margin-bottom: 10px;
  display: block; }

body h4, body .h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375em;
  color: #9C9C9C;
  margin-bottom: 8px;
  display: block; }

body .project {
  background-image: url("/assets/images/trame.png");
  height: 700px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 89px;
  box-sizing: border-box; }
  @media screen and (max-width: 760px) {
    body .project {
      margin-top: 30px;
      height: auto; } }
  @media (min-width: 760px) and (max-width: 1025px) {
    body .project .wrap {
      width: 85%; } }
  @media screen and (max-width: 760px) {
    body .project h2 {
      max-width: 235px;
      padding-top: 15px;
      margin-bottom: 0px;
      line-height: 30px; } }
  @media screen and (max-width: 760px) {
    body .project {
      background-image: url("/assets/images/hachure-button.png");
      background-size: 7%;
      background-repeat: repeat; } }
  body .project .sliderWrapper {
    width: 800px;
    height: 280px;
    position: relative;
    overflow: hidden; }
  @media screen and (max-width: 760px) {
    body .project .slick-track {
      padding: 20px 0 120px; } }
  body .project .slider div {
    position: relative; }
    @media screen and (min-width: 760px) {
      body .project .slider div {
        margin-top: -50px;
        padding-top: 53px;
        box-sizing: border-box; } }
  body .project .slick-slide {
    height: 654px;
    width: 100%;
    margin: auto;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1025px) {
      body .project .slick-slide {
        height: 400px; } }
    @media screen and (max-width: 760px) {
      body .project .slick-slide {
        height: 238px; } }
  body .project .button {
    position: absolute;
    bottom: 55%;
    z-index: 200;
    cursor: pointer;
    color: #1c5785;
    font-size: 3em; }
  body .project .slick-list {
    width: 100%; }
  body .project .sliderNext {
    right: -50px;
    bottom: 63%; }
    @media screen and (max-width: 760px) {
      body .project .sliderNext {
        right: 0;
        bottom: 89%; } }
  body .project .sliderPrev {
    left: -50px;
    bottom: 63%; }
    @media screen and (max-width: 760px) {
      body .project .sliderPrev {
        left: 0;
        bottom: 89%; } }
  body .project .slick-prev {
    left: 0; }
    body .project .slick-prev:before {
      background-image: url("/assets/images/cube-left.png"); }
  body .project .slick-next {
    right: 0; }
    body .project .slick-next:before {
      background-image: url("/assets/images/cube-right.png"); }
  body .project .left-arrow {
    position: absolute;
    left: 0;
    top: 45%; }
    @media screen and (max-width: 760px) {
      body .project .left-arrow {
        top: 82px; } }
  body .project .right-arrow {
    position: absolute;
    right: 0;
    top: 45%; }
    @media screen and (max-width: 760px) {
      body .project .right-arrow {
        top: 82px; } }
  @media screen and (max-width: 760px) {
    body .project .wrap {
      max-width: 100%; } }
  @media screen and (max-width: 760px) {
    body .project .h3, body .project h3 {
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.33333em; } }
  @media screen and (max-width: 760px) {
    body .project h4 {
      font-size: 0.875em;
      line-height: 1.35714em; } }
  body .project .label {
    position: absolute;
    top: 0px;
    margin-left: 50px; }
    @media screen and (max-width: 760px) {
      body .project .label {
        z-index: 9;
        width: 70px;
        right: 40px;
        top: -20px; } }
  body .project .box-project {
    font-size: 0;
    position: relative; }
    body .project .box-project .img-project {
      width: 52%;
      display: inline-block;
      height: 415px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      @media screen and (max-width: 760px) {
        body .project .box-project .img-project {
          width: 100%;
          display: block;
          height: 235px; } }
      body .project .box-project .img-project img {
        width: 100%; }
    body .project .box-project .text-project {
      width: 45%;
      float: right;
      font-size: 1.125rem;
      display: inline-block;
      padding: 48px 30px;
      position: relative;
      box-sizing: border-box;
      background-color: #FFF;
      height: 415px; }
      @media screen and (max-width: 760px) {
        body .project .box-project .text-project {
          width: 100%;
          padding: 10px 20px;
          height: auto; } }
      body .project .box-project .text-project p, body .project .box-project .text-project .p {
        font-family: "Roboto", sans-serif;
        font-size: 1.125em;
        color: #000000;
        line-height: 1.5em; }
        @media screen and (max-width: 760px) {
          body .project .box-project .text-project p, body .project .box-project .text-project .p {
            display: none; } }
        @media (min-width: 760px) and (max-width: 1025px) {
          body .project .box-project .text-project p, body .project .box-project .text-project .p {
            font-size: 0.875rem; } }
      body .project .box-project .text-project img {
        position: absolute;
        right: 30px;
        bottom: 30px; }
        @media screen and (max-width: 760px) {
          body .project .box-project .text-project img {
            display: none; } }

@media screen and (max-width: 760px) {
  body .page.wrap {
    max-width: 100%; } }

body .page .page-content {
  width: 100%;
  margin: auto; }
  @media screen and (max-width: 1025px) {
    body .page .page-content {
      width: 100%; } }

body .page .bloc-page {
  width: 66%;
  display: inline-block;
  padding-right: 24px;
  box-sizing: border-box; }
  @media screen and (max-width: 760px) {
    body .page .bloc-page {
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      display: block;
      margin: auto; } }
  body .page .bloc-page p {
    margin-bottom: 19px; }

body .page aside {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-top: 40px;
  box-sizing: border-box; }
  @media screen and (max-width: 760px) {
    body .page aside {
      display: block;
      padding: 26px 30px 10px;
      width: 100%;
      border-right: 24px solid #FFF;
      border-left: 24px solid #FFF;
      text-align: center; } }
  @media screen and (max-width: 760px) {
    body .page aside {
      padding: 0px; } }
  body .page aside .bloc-contact {
    background-color: #EFEFEF; }
  body .page aside .bloc {
    padding: 26px 30px; }
  body .page aside h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (max-width: 760px) {
      body .page aside h3 {
        font-size: 2.25em;
        margin-bottom: 9px; } }
  body .page aside .website {
    color: #94C01F;
    transition: all 0.20s ease; }
    body .page aside .website:hover {
      color: #729418; }
  body .page aside p {
    font-size: 1.3125em;
    font-family: "Roboto", sans-serif;
    line-height: 1.38095em; }
    @media screen and (max-width: 1025px) {
      body .page aside p {
        font-size: 1.1875em;
        font-family: "Roboto", sans-serif;
        line-height: 1.11765em;
        margin-bottom: 5px; } }
    body .page aside p.phone {
      margin-top: 20px;
      position: relative; }
      body .page aside p.phone:before {
        content: url("/assets/images/tel.png");
        margin-right: 5px;
        position: absolute;
        top: -10px; }
      body .page aside p.phone span {
        margin-left: 25px; }
    body .page aside p em {
      font-weight: 700;
      font-style: normal;
      line-height: 1.8125em; }

body .page h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 3.375em;
  color: #000000;
  line-height: 1.11111em;
  padding: 73px 0 30px;
  display: inline-block;
  max-width: 900px; }
  @media screen and (max-width: 1025px) {
    body .page h1 {
      padding: 16px 24px;
      font-size: 1.875em;
      line-height: 1em;
      margin-top: 30px; } }

body .page p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #000000;
  line-height: 1.5em; }
  @media screen and (max-width: 760px) {
    body .page p {
      margin-bottom: 20px; } }

body .page h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  text-align: left;
  color: #000000;
  line-height: 1.28571em; }
  @media screen and (max-width: 760px) {
    body .page h2 {
      font-size: 1.3125em;
      padding: 0;
      margin-bottom: 20px; } }

body .page .intro {
  margin-top: 51px;
  margin-bottom: 30px; }
  body .page .intro p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #000000;
    line-height: 1.58333em; }
    @media screen and (max-width: 1025px) {
      body .page .intro p {
        font-size: 1.375em;
        line-height: 1.40909em; } }

body .page .share {
  text-align: right;
  margin-top: -75px;
  margin-bottom: 30px; }
  @media screen and (max-width: 760px) {
    body .page .share {
      display: none; } }
  body .page .share img:hover {
    opacity: 0.6;
    cursor: pointer; }

body .page .img-page {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center; }

body .page .breadcrumb {
  margin-top: 40px; }
  @media screen and (max-width: 760px) {
    body .page .breadcrumb {
      display: none; } }
  body .page .breadcrumb a {
    color: #9B9B9B;
    transition: all 0.15s ease; }
    body .page .breadcrumb a:hover {
      color: #94C01F; }
  body .page .breadcrumb p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9375em;
    color: #9B9B9B;
    font-weight: 400; }
    body .page .breadcrumb p em {
      color: #000;
      font-style: normal; }

body .more {
  height: auto;
  padding-bottom: 50px;
  margin-top: 40px;
  background-image: url("/assets/images/hachure-button.png");
  background-size: 2%; }
  @media screen and (max-width: 760px) {
    body .more {
      background-size: 10%;
      height: auto; } }
  body .more .more-content {
    font-size: 0; }
    body .more .more-content h2 {
      font-size: 3.375rem;
      text-align: left; }
      @media screen and (max-width: 760px) {
        body .more .more-content h2 {
          text-align: left;
          font-size: 1.875rem;
          text-transform: uppercase;
          padding-top: 26px;
          padding-bottom: 26px;
          margin: 0; } }
    body .more .more-content .item {
      display: inline-block;
      width: 32%;
      margin-bottom: 50px; }
      @media screen and (max-width: 760px) {
        body .more .more-content .item {
          display: none; } }
      body .more .more-content .item:hover p a {
        color: #94C01F; }
      @media screen and (max-width: 760px) {
        body .more .more-content .item:nth-child(2) {
          display: block !important;
          width: 100%; } }
      body .more .more-content .item:nth-child(3n) {
        margin: 0 2%; }
        @media screen and (max-width: 760px) {
          body .more .more-content .item:nth-child(3n) {
            margin: 0px; } }
      body .more .more-content .item p {
        font-size: 1.5rem;
        color: #1D1D1B;
        font-family: "Roboto", sans-serif;
        line-height: 1.125em;
        margin-top: 15px; }
        @media screen and (max-width: 1025px) {
          body .more .more-content .item p {
            font-size: 1.125rem;
            line-height: 1.22222em;
            margin-left: 24px;
            padding-bottom: 50px; } }
    body .more .more-content .item-more {
      background-size: cover;
      background-position: center;
      height: 242px;
      display: block; }

body .wrap {
  margin: auto; }
  @media screen and (max-width: 1025px) {
    body .wrap {
      max-width: 98%; } }
  @media screen and (min-width: 1025px) {
    body .wrap {
      width: 92%;
      max-width: 1400px; } }

body .cookies {
  position: fixed;
  bottom: 40px;
  z-index: 999;
  width: 92%;
  max-width: 1400px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #5B5B5B;
  text-align: center;
  box-sizing: border-box;
  padding: 17px 20px;
  height: 150px; }
  body .cookies img {
    vertical-align: bottom;
    margin-right: 5px; }
  @media screen and (max-width: 1025px) {
    body .cookies {
      position: fixed;
      bottom: 0px;
      z-index: 999;
      width: 100%;
      margin: auto;
      background-color: #5B5B5B; }
      body .cookies p {
        font-size: 0.8em;
        color: #FFF;
        text-align: left; } }
  @media screen and (min-width: 1025px) {
    body .cookies p {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.125em;
      text-align: left;
      color: #FFF; } }
  body .cookies .button-1 {
    padding: 10px;
    background-color: #F5F5F5;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 700; }
    @media screen and (max-width: 1025px) {
      body .cookies .button-1 {
        font-size: 13px;
        padding: 5px; } }
    body .cookies .button-1:hover {
      background-color: white; }
  body .cookies .button-2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FEFEFE;
    background: #94C01F;
    padding: 10px 60px;
    margin-left: 20px; }
    @media screen and (max-width: 1025px) {
      body .cookies .button-2 {
        font-size: 13px;
        padding: 5px 20px;
        margin-left: 10px; } }
    body .cookies .button-2:hover {
      background-color: #b0de34; }
  body .cookies div {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 30px; }
    @media screen and (max-width: 760px) {
      body .cookies div {
        bottom: 15px; } }

@media screen and (max-width: 760px) {
  .stream li:nth-child(1), .stream li:nth-child(4), .stream li:nth-child(5), .stream li:nth-child(6), .stream li:nth-child(7), .stream li:nth-child(8) {
    display: none !important; } }

.sortir {
  font-size: 0; }
  @media screen and (max-width: 760px) {
    .sortir .wrap {
      max-width: 100%; } }
  @media screen and (max-width: 760px) {
    .sortir .wrap h2 {
      padding-top: 0px; } }
  .sortir .item {
    width: 31.3%;
    font-size: 1rem;
    vertical-align: top;
    display: inline-block; }
    @media screen and (max-width: 760px) {
      .sortir .item {
        width: 100%; }
        .sortir .item.item-2, .sortir .item.item-3 {
          display: none; } }
    .sortir .item .item-date {
      display: inline-block;
      text-align: center;
      line-height: 1.4375em;
      padding-top: 10px;
      position: relative;
      margin: 0 5px; }
      .sortir .item .item-date.first:after {
        content: url("/assets/images/fleche-date.png");
        position: absolute;
        top: 20px;
        right: -13.5px; }
    .sortir .item:hover {
      /*.img{
        filter:contrast(120%);
      }*/ }
      .sortir .item:hover .title {
        color: #94C01F; }
    .sortir .item span {
      display: block; }
    .sortir .item .date {
      text-align: center;
      font-size: 1.125em;
      display: block;
      float: right;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: #000;
      background-image: url("/assets/images/date-sortir.png");
      width: 95px;
      height: 76px;
      margin-right: 15px; }
      .sortir .item .date em {
        font-size: 1.9375em;
        font-style: normal;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #000;
        display: block; }
    .sortir .item .title {
      font-size: 1.5em;
      color: #000;
      width: 93%;
      line-height: 1.125em; }
      @media screen and (max-width: 760px) {
        .sortir .item .title {
          font-size: 1.125em;
          color: #1D1D1B;
          line-height: 20px;
          margin-left: 27px; } }
    .sortir .item .categorie {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      font-size: 1.125em;
      color: #1D1D1B;
      background-color: #94C01F;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      padding: 2px 10px;
      margin-bottom: 10px;
      display: inline-block; }
    .sortir .item .img {
      height: 242px;
      background-size: cover;
      margin-top: 35px; }
    @media screen and (min-width: 760px) {
      .sortir .item.item-2 {
        margin: 0 3%; } }

body .page.search-result ul.list-result {
  margin-bottom: 94px; }
  body .page.search-result ul.list-result li {
    margin-top: 43px; }
    body .page.search-result ul.list-result li h3 {
      font-weight: 700;
      margin-bottom: 0px; }
    body .page.search-result ul.list-result li em {
      font-style: normal;
      background-color: #94C01F; }

body .page.search-result h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: #000000;
  padding-bottom: 0; }

body .page.search-result h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  padding-top: 20px;
  color: #000000; }
  body .page.search-result h2 strong {
    font-size: 16px;
    font-weight: 300; }
  body .page.search-result h2.title-result {
    border-bottom: 1px solid #94C01F;
    padding-bottom: 10px;
    padding-top: 50px; }

body .page.search-result .page-content {
  width: 100%; }

body .page.search-result .result form {
  display: block;
  background-color: #94C01F;
  width: 100%;
  vertical-align: top;
  padding: 23px;
  box-sizing: border-box; }
  body .page.search-result .result form input {
    width: 95%;
    height: 40px; }

body .page.search-result .result .croix {
  margin-left: 10px;
  opacity: 1;
  transition: all 0.20s ease; }
  body .page.search-result .result .croix:hover {
    opacity: 0.6; }
  @media screen and (max-width: 760px) {
    body .page.search-result .result .croix {
      display: none; } }

body .page.search-result .result .search-content {
  position: relative; }
  body .page.search-result .result .search-content .search-icon {
    position: absolute;
    right: 14px;
    top: -4px; }

body .page.column2 .accordion {
  margin-top: 50px; }
  body .page.column2 .accordion .bloc.active h3 {
    background-color: #94C01F; }
    body .page.column2 .accordion .bloc.active h3:after {
      content: url("/assets/images/moins-accordion.png");
      right: 0;
      position: absolute;
      top: 0; }
  body .page.column2 .accordion .hidden {
    margin-top: 20px; }
  body .page.column2 .accordion h3 {
    background-color: #C8C8C8;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 6px 10px;
    margin-top: 20px;
    font-size: 1.75em;
    color: #FFFFFF;
    line-height: 1.28571em;
    position: relative; }
    body .page.column2 .accordion h3:after {
      content: url("/assets/images/plus-accordion.png");
      right: 0;
      position: absolute;
      top: 0; }
  body .page.column2 .accordion .horaires strong {
    min-width: 15%;
    display: inline-block; }
  body .page.column2 .accordion li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.5em; }
    body .page.column2 .accordion li:before {
      content: url("/assets/images/accordion-fleche.png");
      margin-right: 5px; }
  body .page.column2 .accordion h4 {
    /* Caractéristiques: */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    color: #000000;
    line-height: 1.28571em;
    margin-top: 18px; }

body .page.column2 aside {
  margin-top: 0; }
  body .page.column2 aside .bloc {
    margin-bottom: 45px; }
    body .page.column2 aside .bloc h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #000000;
      text-transform: uppercase; }
    body .page.column2 aside .bloc.bloc-address {
      border: 4px solid #F2F2EF; }
      body .page.column2 aside .bloc.bloc-address .button {
        background-color: #000;
        transition: 0.20s all ease;
        text-align: center;
        color: #FFF;
        width: 100%;
        display: block; }
        body .page.column2 aside .bloc.bloc-address .button:hover {
          background-color: #94C01F; }
        body .page.column2 aside .bloc.bloc-address .button span {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          font-size: 1.125em;
          color: #FFFFFF;
          line-height: 1.94444em; }
      body .page.column2 aside .bloc.bloc-address img {
        width: 100%;
        margin: 10px 0 30px; }
    body .page.column2 aside .bloc.bloc-text {
      border: 4px solid #F2F2EF; }
      body .page.column2 aside .bloc.bloc-text .button {
        background-color: #000;
        transition: 0.20s all ease;
        text-align: center;
        color: #FFF;
        width: 100%;
        display: block; }
        body .page.column2 aside .bloc.bloc-text .button:hover {
          background-color: #94C01F; }
        body .page.column2 aside .bloc.bloc-text .button span {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          font-size: 1.125em;
          color: #FFFFFF;
          line-height: 1.94444em; }
      body .page.column2 aside .bloc.bloc-text ul li {
        font-size: 1.375em;
        font-weight: 400;
        margin-bottom: 20px; }
        body .page.column2 aside .bloc.bloc-text ul li:before {
          content: url("/assets/images/aside-arrow.png");
          margin-right: 5px; }
    body .page.column2 aside .bloc.bloc-bon-a-savoir {
      background-color: #94C01F;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
      padding-bottom: 60px; }
      body .page.column2 aside .bloc.bloc-bon-a-savoir h3 {
        color: #FFF; }
      body .page.column2 aside .bloc.bloc-bon-a-savoir p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.375em;
        color: #000000;
        line-height: 1.40909em; }
        @media screen and (max-width: 760px) {
          body .page.column2 aside .bloc.bloc-bon-a-savoir p {
            font-size: 1.3125em;
            line-height: 1.33333em; } }
    body .page.column2 aside .bloc.bloc-highlight {
      background-image: url("/assets/images/bloc-highlight.png");
      height: 350px;
      background-size: contain;
      background-repeat: no-repeat; }
      body .page.column2 aside .bloc.bloc-highlight p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 2.25em;
        color: #FFFFFF;
        text-align: center;
        padding: 50px 50px; }
    body .page.column2 aside .bloc.bloc-web {
      background-color: #000;
      padding: 20px; }
      body .page.column2 aside .bloc.bloc-web h3 {
        color: #FFF; }
      body .page.column2 aside .bloc.bloc-web ul li a {
        font-size: 1.375em;
        color: #FFF; }
        body .page.column2 aside .bloc.bloc-web ul li a:hover {
          color: #94C01F; }
      body .page.column2 aside .bloc.bloc-web ul li:before {
        content: url("/assets/images/aside-arrow.png");
        margin-right: 5px; }
    body .page.column2 aside .bloc.bloc-telecharger {
      background-color: #EFEFEF; }
      body .page.column2 aside .bloc.bloc-telecharger .pdf {
        margin-bottom: 10px; }
      body .page.column2 aside .bloc.bloc-telecharger .img {
        display: inline-block; }
      body .page.column2 aside .bloc.bloc-telecharger .text {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px; }
        body .page.column2 aside .bloc.bloc-telecharger .text p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 1.25em;
          color: #000000;
          line-height: 1.2em;
          margin-bottom: 0; }
          body .page.column2 aside .bloc.bloc-telecharger .text p a:hover {
            color: #94C01F; }
        body .page.column2 aside .bloc.bloc-telecharger .text em {
          font-style: normal;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 0.8125em;
          color: #000000; }

#form .bloc-page p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #000000;
  line-height: 1.58333em; }

#form .bloc-page .img-page {
  margin-bottom: 50px; }

#form .bloc-page .global label {
  display: none; }

#form .bloc-page .form-group {
  margin-top: 80px; }
  #form .bloc-page .form-group h3 {
    margin-bottom: 27px; }
  #form .bloc-page .form-group input {
    width: auto;
    margin-bottom: 20px; }
  #form .bloc-page .form-group span {
    display: block;
    width: 100%; }
  #form .bloc-page .form-group label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    letter-spacing: 0;
    margin-left: 5px;
    line-height: 1.5em; }

#form .bloc-page form {
  margin-top: 30px;
  /*.inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .inputfile + label {
        font-family: $primary;
        font-weight:400;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
        background-color: #EFEFEF;
        padding:4px 10px;
        display: inline-block;
        border:1px solid #CECECE;
      }

      .inputfile:focus + label,
      .inputfile + label:hover {
        background-color: #000;
      }*/ }
  #form .bloc-page form .inputfile {
    border: none; }
  #form .bloc-page form .lieu {
    font-size: 0; }
    #form .bloc-page form .lieu #code-postal {
      width: 20%;
      font-size: 1rem; }
    #form .bloc-page form .lieu #ville {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      color: #000000;
      letter-spacing: 0;
      line-height: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background-color: transparent;
      border-radius: 0 !important;
      width: 75%;
      float: right; }
  #form .bloc-page form input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.5em; }
    #form .bloc-page form input:focus {
      outline: 0; }
    #form .bloc-page form input:checked {
      background: #94C01F;
      color: #94C01F; }

#form .bloc-page .submit {
  display: block;
  text-align: center;
  margin: auto; }
  #form .bloc-page .submit input {
    transition: all 0.20s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.51579em;
    background-color: #94C01F;
    width: auto;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    padding: 5px 25px; }
    #form .bloc-page .submit input:hover {
      background-color: #000; }

.communes {
  background-color: #94C01F;
  padding-top: 53px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  padding-bottom: 80px; }
  @media screen and (min-width: 760px) {
    .communes {
      margin-bottom: 80px; } }
  @media screen and (max-width: 760px) {
    .communes {
      padding-top: 11px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%); } }
  @media screen and (min-width: 760px) {
    .communes .wrap {
      width: 90%; } }
  .communes h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.4375em;
    color: #FFFFFF;
    line-height: 1.05455em; }
    @media screen and (max-width: 760px) {
      .communes h3 {
        font-size: 1.8125em;
        line-height: 1.10345em;
        text-align: center; } }
  .communes .svg-content {
    width: 60%;
    float: right;
    right: 5%;
    margin-top: -60px; }
    @media screen and (max-width: 760px) {
      .communes .svg-content {
        position: absolute;
        width: 255px;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        right: auto;
        margin-top: 0px;
        margin: auto; } }
  .communes svg {
    width: auto !important;
    min-height: 500px !important; }
    .communes svg .st2 {
      fill: #7FA51B; }
    .communes svg polygon.active, .communes svg path.active {
      fill: #FFF; }
    .communes svg polygon:hover, .communes svg path:hover {
      fill: #FFF; }
    .communes svg path#Fill-22:hover {
      fill: #48A7DD; }
  .communes ul {
    margin-top: 41px; }
    @media screen and (max-width: 760px) {
      .communes ul {
        margin-top: 188px;
        margin-bottom: 20px; } }
    .communes ul li {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.5625em;
      color: #000000;
      line-height: 1.56em; }
      @media screen and (max-width: 760px) {
        .communes ul li {
          font-size: 1em;
          color: #000;
          line-height: 1.4375em;
          text-align: center; } }
      .communes ul li a {
        color: #000; }
        .communes ul li a:hover {
          color: #FFF; }
        .communes ul li a.active {
          font-weight: 900;
          color: #FFF; }
  .communes .carte {
    position: absolute;
    right: 30px; }

.label-map .label {
  background-image: url("/assets/images/carte-interactive.png");
  transition: all 0.20s ease; }
  @media screen and (max-width: 760px) {
    .label-map .label {
      width: 112px;
      text-align: center;
      position: absolute;
      margin: auto;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; } }
  @media screen and (min-width: 760px) {
    .label-map .label {
      position: absolute;
      right: 80px;
      margin-top: -280px;
      height: 165px;
      width: 165Px;
      background-size: contain;
      background-repeat: no-repeat; }
      .label-map .label:hover {
        background-image: url("/assets/images/carte-interactive-hover.png");
        -ms-transform: rotate(30deg);
        transform: rotate(30deg); } }

.banner {
  /*background-image: url('/assets/images/banniere.png');
  height: 654px;
  width: 100%;
  margin: auto;
  background-position: center top;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;*/
  position: relative; }
  .banner a {
    outline: 0; }
  .banner .sliderWrapper {
    width: 800px;
    height: 280px;
    position: relative;
    overflow: hidden; }
  .banner .slider div {
    position: relative; }
  @media screen and (max-width: 760px) {
    .banner .slick-track {
      padding-bottom: 167px; } }
  .banner .slick-slide {
    height: 654px;
    width: 100%;
    margin: auto;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1025px) {
      .banner .slick-slide {
        height: 400px; } }
    @media screen and (max-width: 760px) {
      .banner .slick-slide {
        height: 238px; } }
  .banner .button {
    position: absolute;
    bottom: 55%;
    z-index: 200;
    cursor: pointer;
    color: #1c5785;
    font-size: 3em; }
    @media screen and (max-width: 760px) {
      .banner .button {
        bottom: 100%; } }
  .banner .slick-list {
    width: 100%; }
  .banner .sliderNext {
    right: 0; }
  .banner .sliderPrev {
    left: 0; }
  .banner .slick-prev {
    left: 0; }
    .banner .slick-prev:before {
      background-image: url("/assets/images/cube-left.png"); }
  .banner .slick-next {
    right: 0; }
    .banner .slick-next:before {
      background-image: url("/assets/images/cube-right.png"); }
  .banner .left-arrow {
    position: absolute;
    left: 0;
    z-index: 9;
    top: 45%; }
    @media screen and (max-width: 760px) {
      .banner .left-arrow {
        top: 82px; } }
  .banner .right-arrow {
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 9; }
    @media screen and (max-width: 760px) {
      .banner .right-arrow {
        top: 82px; } }
  .banner .banner-text {
    width: 30%;
    padding: 35px 55px;
    height: 464px;
    position: absolute;
    top: 50px;
    left: 212px;
    background-image: url("/assets/images/slider-bg.png");
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .banner .banner-text {
        width: 40%; } }
    @media screen and (max-width: 760px) {
      .banner .banner-text {
        position: relative;
        height: 262px;
        top: 189px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 258px;
        padding: 2px 35px;
        box-sizing: border-box; } }
    @media (min-width: 760px) and (max-width: 1025px) {
      .banner .banner-text {
        width: 25%;
        padding: 13px 40px; } }
    .banner .banner-text hr {
      border: 2px solid #FFF; }
    .banner .banner-text h3, .banner .banner-text .h3 {
      font-family: "Roboto", sans-serif;
      font-size: 1.875em;
      font-weight: 400;
      color: #FEFEFE;
      margin-top: 16px;
      margin-bottom: 16px;
      text-transform: uppercase; }
      @media screen and (max-width: 1025px) {
        .banner .banner-text h3, .banner .banner-text .h3 {
          font-size: 0.8125em;
          line-height: 1.38462em; } }
    .banner .banner-text h2, .banner .banner-text .h2 {
      font-family: "Roboto", sans-serif;
      font-size: 2.9375em;
      color: #FEFEFE;
      letter-spacing: -0.55px;
      line-height: 1.06383em;
      text-align: left;
      font-weight: 900;
      padding-top: 0px; }
      @media screen and (max-width: 1025px) {
        .banner .banner-text h2, .banner .banner-text .h2 {
          font-size: 1.3125em;
          line-height: 1.19048em;
          padding-left: 0px;
          width: 100%; } }
      .banner .banner-text h2:before, .banner .banner-text .h2:before {
        content: '';
        width: 30px;
        height: 4px;
        background: #FFF;
        display: block;
        margin-bottom: 12px;
        margin-top: 10px; }
    .banner .banner-text .box-slide {
      position: relative;
      height: 450px; }
      @media screen and (max-width: 1025px) {
        .banner .banner-text .box-slide {
          position: relative;
          height: 200px;
          overflow: hidden; } }
      .banner .banner-text .box-slide .plus-white {
        right: 23%;
        position: absolute;
        bottom: -9px; }

@media screen and (max-width: 760px) {
  .partenary {
    display: none; } }

.partenary h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.8125em;
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1.5px solid #94C01F;
  padding: 2px 4px;
  margin: auto;
  margin-top: 50px;
  max-width: 250px; }

.partenary .slider-nav {
  position: relative; }

.partenary .slick-slider {
  margin: 40px 40px 60px 40px; }

.partenary .slider-nav img {
  max-width: 100%;
  margin: auto; }

.partenary .slider-for img {
  width: 100%; }

.partenary .slider-nav .slick-slide:hover {
  cursor: pointer; }

.partenary .slick-prev, .partenary .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0; }
  .partenary .slick-prev:before, .partenary .slick-next:before {
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 60px;
    opacity: 1;
    width: 30px; }
  .partenary .slick-prev:hover:before, .partenary .slick-next:hover:before {
    opacity: .8; }

.partenary .slick-prev {
  left: 0; }
  .partenary .slick-prev:before {
    background-image: url("/assets/images/cube-left.png"); }

.partenary .slick-next {
  right: 0; }
  .partenary .slick-next:before {
    background-image: url("/assets/images/cube-right.png"); }

.partenary *:focus {
  outline: 0; }

.access h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.8125em;
  color: #000;
  width: -moz-max-content;
  width: max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: -ms-max-content;
  border: 1.5px solid #94C01F;
  padding: 2px 4px;
  margin: auto;
  margin-top: 50px;
  max-width: 200px; }
  @media screen and (max-width: 760px) {
    .access h2 {
      font-size: 1.0625em; } }

.access .slider-nav {
  position: relative; }

.access .slick-slider {
  margin: 15px 40px 0 40px; }

.access .slider-nav .slick-slide:hover {
  cursor: pointer; }

.access .slick-prev, .access .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 9;
  font-size: 0; }
  .access .slick-prev:before, .access .slick-next:before {
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 60px;
    opacity: 1;
    width: 30px; }
  .access .slick-prev:hover:before, .access .slick-next:hover:before {
    opacity: .8; }

.access .slick-prev {
  left: 0; }
  .access .slick-prev:before {
    background-image: url("/assets/images/access-left.png"); }

.access .slick-next {
  right: 0; }
  .access .slick-next:before {
    background-image: url("/assets/images/access-right.png"); }

.access *:focus {
  outline: 0; }

.access .desktop {
  display: block; }
  @media screen and (max-width: 760px) {
    .access .desktop {
      display: none; } }

.access .mobile {
  display: block; }
  @media screen and (min-width: 760px) {
    .access .mobile {
      display: none; } }

.access ul {
  margin-top: 40px;
  font-size: 0; }
  .access ul li {
    display: inline-block;
    width: 14.28%;
    margin: auto;
    text-align: center;
    vertical-align: top; }
    .access ul li img {
      width: 75%;
      transition: all 0.15s ease; }
      @media screen and (max-width: 760px) {
        .access ul li img {
          width: 105px;
          margin: auto;
          text-align: center; } }
      .access ul li img:hover {
        filter: grayscale(100%) brightness(140%); }
    .access ul li p {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.0625rem;
      color: #1D1D1B;
      line-height: 1.17647em;
      margin-top: 8px; }
      @media screen and (max-width: 760px) {
        .access ul li p {
          font-size: 1rem; } }

.actu {
  font-size: 0; }
  @media screen and (max-width: 760px) {
    .actu .wrap {
      max-width: 100%; } }
  .actu .image-actus {
    width: 52%;
    font-size: 1rem;
    display: inline-block; }
    @media screen and (max-width: 760px) {
      .actu .image-actus {
        width: 100%; }
        .actu .image-actus .img {
          height: 219px !important; } }
    .actu .image-actus:hover .img {
      filter: contrast(120%); }
    .actu .image-actus:hover p {
      color: #94C01F; }
    .actu .image-actus .img {
      width: 100%;
      height: 400px;
      transition: all 0.15s ease;
      display: inline-block;
      background-image: url("/assets/images/actu-1.png");
      background-size: cover;
      background-position: center; }
  .actu p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: #1D1D1B;
    line-height: 1.16667em;
    margin-top: 5px;
    transition: all 0.15s ease; }
    @media screen and (max-width: 760px) {
      .actu p {
        font-size: 1.125em;
        line-height: 1.11111em;
        padding: 8px 15px; } }
  .actu .actu-small {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem; }
    @media screen and (max-width: 760px) {
      .actu .actu-small {
        width: 100%; } }
    .actu .actu-small p {
      font-size: 1em;
      line-height: 1.375em;
      margin-bottom: 8px;
      transition: all 0.15s ease; }
      @media screen and (max-width: 760px) {
        .actu .actu-small p {
          font-size: 1.125em;
          line-height: 1.11111em;
          padding: 8px 15px; } }
    .actu .actu-small div.bloc {
      width: 45%;
      display: inline-block;
      padding-left: 35px;
      box-sizing: border-box;
      vertical-align: top; }
      @media screen and (max-width: 760px) {
        .actu .actu-small div.bloc {
          width: 100%;
          display: block;
          padding-left: 0; }
          .actu .actu-small div.bloc .img {
            height: 219px !important; } }
      @media screen and (max-width: 760px) {
        .actu .actu-small div.bloc.bloc-3, .actu .actu-small div.bloc.bloc-4 {
          display: none; } }
      .actu .actu-small div.bloc:hover .img {
        filter: contrast(120%); }
      .actu .actu-small div.bloc:hover p {
        color: #94C01F; }
      .actu .actu-small div.bloc .img {
        width: 100%;
        height: 171px;
        background-position: center;
        transition: all 0.15s ease;
        display: block; }
      .actu .actu-small div.bloc .img-1 {
        background-image: url("/assets/images/actu-2.png");
        background-size: cover; }
      .actu .actu-small div.bloc .img-2 {
        background-image: url("/assets/images/actu-3.png");
        background-size: cover; }
      .actu .actu-small div.bloc .img-3 {
        background-image: url("/assets/images/actu-4.png");
        background-size: cover; }
      .actu .actu-small div.bloc .img-4 {
        background-image: url("/assets/images/actu-5.png");
        background-size: cover; }

.hachure-button {
  background-image: url("/assets/images/hachure-button.png");
  background-size: 2%; }
  @media screen and (max-width: 760px) {
    .hachure-button {
      background-size: 6%; } }
  .hachure-button .button {
    display: block;
    height: 50px;
    background-color: #000;
    color: #FFF;
    font-size: 1.25em;
    width: 360px;
    margin: auto;
    margin-top: 45px;
    box-sizing: border-box;
    text-align: center;
    border-right: 15px solid #FFF;
    border-left: 15px solid #FFF;
    margin-bottom: 50px;
    position: relative; }
    @media screen and (max-width: 760px) {
      .hachure-button .button {
        min-width: 250px;
        margin: 20px auto 68px; } }
    @media screen and (min-width: 1025px) {
      .hachure-button .button:hover i {
        position: absolute;
        left: 7px; }
      .hachure-button .button:hover p {
        width: 276px;
        border-left: 4px solid #FFF;
        height: 43px;
        vertical-align: top;
        font-size: 0;
        right: 0;
        position: absolute; } }
  @media screen and (min-width: 1025px) and (max-width: 760px) {
    .hachure-button .button:hover p {
      width: 247px;
      height: 34px; } }
    .hachure-button .button.blue em {
      padding-top: 0px; }
    @media screen and (min-width: 1025px) {
      .hachure-button .button.blue:hover em {
        font-size: 0px;
        margin-top: 1px; }
        .hachure-button .button.blue:hover em:before {
          content: url("/assets/images/13commeune.png"); }
      .hachure-button .button.blue:hover p {
        padding-top: 8px;
        margin-top: 0px;
        background-color: #2D75C7; } }
    @media screen and (min-width: 1025px) {
      .hachure-button .button.red {
        margin-bottom: 137px; } }
    .hachure-button .button.red i:before {
      content: url("/assets/images/button-arrow-red.png"); }
    @media screen and (min-width: 1025px) {
      .hachure-button .button.red:hover i {
        position: absolute;
        left: 7px; }
      .hachure-button .button.red:hover p {
        width: 85%;
        border-left: 4px solid #FFF;
        height: 43px;
        vertical-align: top;
        background-color: #f80431;
        font-size: 0;
        right: 0;
        position: absolute; }
      .hachure-button .button.red:hover em {
        font-size: 0px;
        margin-top: 1px; }
        .hachure-button .button.red:hover em:before {
          content: url("/assets/images/sortir-button.png"); } }
    .hachure-button .button i {
      display: inline-block;
      margin-top: 9px;
      vertical-align: top; }
      .hachure-button .button i:before {
        content: url("/assets/images/button-arrow.png");
        margin-right: 10px;
        vertical-align: sub; }
    .hachure-button .button p, .hachure-button .button em {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5rem;
      color: #FFFFFF;
      font-weight: 700;
      padding-top: 7px;
      display: inline-block; }
    .hachure-button .button em {
      padding-top: 3px;
      font-style: normal; }

.reseau {
  padding-bottom: 50px;
  background-image: url("/assets/images/hachure-button.png");
  background-size: 1.5%; }
  @media screen and (max-width: 760px) {
    .reseau .stream li {
      max-width: 400px !important;
      width: 100%;
      position: relative;
      margin: 0 26px 12px 0; } }
  @media screen and (max-width: 760px) {
    .reseau {
      background-size: 10%;
      margin-top: 52px; } }
  @media screen and (min-width: 760px) {
    .reseau h2 {
      margin-bottom: -50px; } }
  @media screen and (min-width: 200px) {
    .reseau #wall {
      padding: 0 26px; } }

footer {
  height: 367px;
  width: 100%;
  background-color: #000;
  color: #FFF;
  padding: 41px 0;
  box-sizing: border-box; }
  @media screen and (max-width: 760px) {
    footer {
      height: auto; } }
  footer h4, footer h5 {
    font-size: 0.75em;
    color: #FFF;
    font-weight: 700; }
  footer p {
    font-size: 0.75em; }
  footer .column {
    width: 29%;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 760px) {
      footer .column {
        width: 100%;
        display: block;
        text-align: center; } }
    footer .column .footer-text {
      margin-left: 86px;
      margin-top: 20px; }
      @media screen and (max-width: 760px) {
        footer .column .footer-text {
          margin-left: 0; } }
    footer .column.right-footer {
      text-align: right;
      float: right; }
      @media screen and (max-width: 760px) {
        footer .column.right-footer {
          text-align: center;
          float: none; } }
      footer .column.right-footer p {
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 10px; }
      footer .column.right-footer div {
        margin-bottom: 10px; }
    footer .column.column2 {
      margin-left: 50px; }
      @media screen and (max-width: 760px) {
        footer .column.column2 {
          display: none; } }
  footer .menu-footer {
    font-size: 0;
    margin-top: 50px; }
    footer .menu-footer ul {
      margin: auto;
      text-align: center; }
      footer .menu-footer ul li {
        display: inline-block;
        font-size: 0.875rem;
        font-family: "Roboto", sans-serif;
        margin: 0 20px;
        font-weight: 700; }
        @media screen and (max-width: 760px) {
          footer .menu-footer ul li {
            display: block; } }
        footer .menu-footer ul li a {
          color: #fff; }
  footer .bloc-footer {
    margin-top: 40px;
    margin-bottom: 20px; }
  footer .social {
    margin-bottom: 20px; }
    @media screen and (max-width: 760px) {
      footer .social {
        text-align: center; } }
    footer .social li {
      display: inline-block; }
      footer .social li img:hover {
        opacity: 0.8; }

/* @import "partials/corporate"; */
/* @import "partials/easter_egg"; */
