<!--
BWAT IG : Access

Un access c'est :
    - Un titre
    - Une URL (le lien)
    - Une target pour l'URL (enum "_parent" ou "_blank")
    - une image format fixe : 130 par 130px

-->
<div class="access wrap">
    <h2>ACCÈS RAPIDES</h2>

    <!-- desktop mode -->
    <!--
    BWAT IG : Affichage en mode desktop
    -->
    <div class="desktop">
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-piscine.png" alt="picto piscines"/><p>Piscines</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-dechet.png" alt="picto dechets"/><p>Déchets</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-contact.png" alt="picto contacter l'agglo"/><p>Contacter l'agglo</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-recrutement.png" alt="pictos recrutement"/><p>L'agglo recrute</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-entreprise.png" alt="pictos entreprises"/><p>Entreprises</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-transport.png" alt="pictos transport"/><p>Transports</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-eau.png" alt="pictos eau"/><p>Eau</p>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-chauffage.png" alt="pictos chauffage urbain"/><p>Chauffage urbain</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-eclairage.png" alt="pictos éclairage public"/><p>Eclairage public</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-conservatoire.png" alt="pictos conservatoire"/><p>Conservatoire</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-bibliotheque.png" alt="pictos bibliotheque"/><p>Bibliothèque</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-patinoire.png" alt="pictos Aren'Ice"/><p>Aren'Ice</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-justice.png" alt="pictos Maison de la justice et du droit"/><p>Maison de la  justice et du droit</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-maradas.png" alt="pictos Maradas"/><p>Maradas</p>
                </a>
            </li>
        </ul>
    </div>

    <!-- mobile mode -->
    <!--
    BWAT IG : Affichage une seconde fois en slider pour le mobile
    -->
    <div class="mobile slider">
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-piscine.png" alt="pictos piscines"/><p>Piscines</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-dechet.png" alt="pictos dechets"/><p>Déchets</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-contact.png" alt="pictos contact"/><p>Contacter l'agglo</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-recrutement.png" alt="pictos recrutement"/><p>L'agglo recrute</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-entreprise.png" alt="pictos entreprises"/><p>Entreprises</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-transport.png" alt="pictos transport"/><p>Transports</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-eau.png" alt="pictos eau"/><p>Eau</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-chauffage.png" alt="pictos chauffage urbain"/><p>Chauffage urbain</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-eclairage.png" alt="pictos éclairage public"/><p>Eclairage public</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-conservatoire.png" alt="pictos conservatoire"/><p>Conservatoire</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-bibliotheque.png" alt="pictos bibliotheque"/><p>Bibliothèque</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-patinoire.png" alt="pictos Aren'Ice"/><p>Aren'Ice</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-justice.png" alt="pictos Maison de la justice et du droit"/><p>Maison de la  justice et du droit</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/pictos/picto-maradas.png" alt="pictos Maradas"/><p>Maradas</p>
                </a>
            </li>
        </ul>
    </div>
</div>