<!-- actus -->
<!--
BWAT IG : Actus
Zone alimentées par un flux RSS externes
-->
<div class="actu">
    <h2>L’ACTU</h2>
    <div class="wrap">
        <div class="image-actus">
            <a href=""><span class="img"></span></a>
            <a href=""><p>Street art park : sous les bombes,  la ville de demain</p></a>
        </div>
        <div class="actu-small">
            <div class="bloc bloc-1">
                <a href=""><span class="img img-1"></span></a>
                <a href=""><p>LaBBoite : <br/>une rentrée fab(lab)uleuse </p></a>
            </div>
            <div class="bloc bloc-2">
                <a href=""><span class="img img-2"></span></a>
                <a href=""><p>Focus sur la sécurité  aux 3 Fontaines </p></a>
            </div>
            <div class="bloc bloc-3">
                <a href=""><span class="img img-3"></span></a>
                <a href=""><p>Une saison de spectacle  avec le conservatoire </p></a>
            </div>
            <div class="bloc bloc-4">
                <a href=""><span class="img img-4"></span></a>
                <a href=""><p>340 livres numériques  à votre disposition </p></a>
            </div>
        </div>
        <div class="hachure-button">
            <a href="">
                <div class="button blue"><i></i><p><em>TOUTE L'ACTU</em></p></div>
            </a>
        </div>
    </div>
</div>