<!--
BWAT IG : Home banner
Le carousle principal de la home
Un slide c'est
    - Un surtitre
    - Un titre
    - Une URL (le lien)
    - Une target pour l'URL (enum "_parent" ou "_blank")
    - une image HD format fixe : 1400 par 650px.
    - une image SD format fixe : 740 par 240px (à mettre dans l'attribut "data-sd")

-->

<div class="banner">
    <!-- navigation carousel -->
    <div class="sliderPrev button">
        <img src="/assets/images/slide-left.png" alt="fleche slide gauche" class="left-arrow"/>
    </div>

    <div class="sliderNext button">
        <img src="/assets/images/slide-right.png" alt="fleche slide right" class="right-arrow"/>
    </div>


    <!-- Carousel -->
    <div class="slider">


        <!-- Slide 1 -->
        <div class="item" style="background-image:url('/assets/images/banniere.png')" data-sd="/assets/images/thumbs/banniere.png">
            <div class="banner-text">
                <a href="">
                    <span class="box-slide">
                        <span class="h3">Surtitre</span>
                        <span class="h2">Titre</span>
                    </span>
                </a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="item" style="background-image:url('https://unsplash.it/1000/800?random')"  data-sd="https://unsplash.it/500/400?random">
            <div class="banner-text">
                <a href="">
                    <span class="box-slide">
                        <span class="h3">Du 5 décembre
                            Au 23 décembre 2018</span>
                        <span class="h2">LOREM IPSUM - Venez découvrir ! </span>
                    </span>
                </a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="item" style="background-image:url('https://unsplash.it/1200/800?random')"  data-sd="https://unsplash.it/500/400?random">
            <div class="banner-text">
                <a href="">
                    <span class="box-slide">
                        <span class="h3">Du 2 février
                            Au 3 février 2018</span>
                        <span class="h2">LOREM IPSUM - Exposition </span>
                    </span>
                </a>
            </div>
        </div>

    </div>

</div>