<!--

BWAT IG : 13 communes
Ca peut rester en statique.

-->
<div class="communes">
    <div class="wrap">
        <h3>LES 13 COMMUNES <br/>
            DE CERGY-PONTOISE </h3>
        <?php include '../includes/partial/home/map.html' ?>
        <ul>
            <li><a href="" class="boisemont">BOISEMONT</a></li>
            <li><a href="" class="cergy"> CERGY</a></li>
            <li> <a href="" class="courdimanche">COURDIMANCHE</a> </li>
            <li><a href="" class="eragny">ÉRAGNY-SUR-OISE </a></li>
            <li><a href="" class="jouylemoutier">JOUY-LE-MOUTIER</a></li>
            <li> <a href="" class="maurecourt">MAURECOURT</a></li>
            <li><a href="" class="menucourt">MENUCOURT</a></li>
            <li><a href="" class="neuville">NEUVILLE-SUR-OISE</a> </li>
            <li><a href="" class="osny">OSNY</a></li>
            <li><a href="" class="pontoise">PONTOISE</a></li>
            <li><a href="" class="puiseux">PUISEUX-PONTOISE</a></li>
            <li><a href="" class="saintouenlaumone">SAINT-OUEN-L’AUMÔNE</a></li>
            <li><a href="" class="vaureal">VAURÉAL</a></li>
        </ul>
    </div>
</div>
<div class="label-map">
    <a href=""><span class="label"></span></a>
</div>
