<!--
BWAT IG : 13 communes
Element statique
-->
<div class="svg-content">
	<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 954 624" style="enable-background:new 0 0 954 624;" xml:space="preserve">
	<style type="text/css">
		.st0{fill:#7FA51B;stroke:#FEFEFE;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
		.st1{fill:#48A7DD;}
	</style>
	<title>CARTE</title>
	<desc>Created with Sketch.</desc>
	<g id="Home-Flash" transform="translate(-411.000000, -3843.000000)">
		<g id="NOS-13-COMMUNES-CARTE" transform="translate(-47.000000, 3766.000000)">
			<g id="CARTE" transform="translate(459.000000, 78.000000)">
				<polygon id="MENUCOURT" class="st0" points="132.9,336.5 119.5,328.6 107.2,329.7 98.2,338.7 36.5,335.3 25.3,349.9 30.9,374.6
					23.1,388 0.7,392.5 2.9,408.2 16.4,420.5 28.7,422.7 51.1,400.3 64.6,420.5 80.3,427.2 80.3,436.2 119.5,438.4 166.5,425
					163.3,384.5 172,373.5 148.8,340.2 			"/>
				<polygon id="COURDIMANCHE" class="st0" points="132.9,336.5 132.9,318.5 138.6,309.6 132.9,299.5 149.8,242.3 148.6,235.6
					179.5,172.9 243.4,199.8 213.2,211.4 203.4,225.8 222.5,236.5 222.5,243.7 235.5,254.7 239.4,270.8 262.4,291.8 264.8,301.5
					250.4,316.7 250.7,388.1 241.7,390.3 221,378.2 215.6,382.9 197.8,382.3 197.7,407.2 165.2,408.2 163.3,384.5 172,373.5
					148.4,340 			"/>
				<polygon id="BOISEMONT" class="st0" points="165.2,408.2 166.5,425 228.4,508 233.8,505.7 243.3,498.7 241.6,484.5 264.9,463.2
					258.4,456.7 257.3,448.6 247.5,446.4 241.7,390.3 221,378.2 215.6,382.9 197.8,382.3 197.7,407.2 			"/>
				<polygon id="JOUY-LE-MOUTIER" class="st0" points="245.6,428.4 295.4,424.8 320.9,438.2 337.2,431.8 336.1,423.4 346.4,421.4
					347,411.3 365.8,400.1 397.1,430.1 409.8,452 468,508 380.6,557.9 372.8,547.8 318.4,549.4 299.1,571.6 259.6,557.3 250.6,538.2
					250,529.8 233.8,505.7 243.3,498.7 241.6,484.5 264.9,463.2 258.4,456.7 257.3,448.6 247.5,446.4 			"/>
				<polygon id="MAURECOURT" class="st0" points="344.6,590.8 364.9,580.7 387.1,579.8 396.3,622 426.2,605.4 462.1,606.5 465.6,614
					475.9,614.2 477.2,621.8 485.8,621.8 485.8,611.9 480.4,609.3 482.8,601.8 504.7,600.7 496.8,584.8 506.5,552.7 468,508
					380.6,557.9 372.8,547.8 318.4,549.4 299.1,571.6 302.1,589.3 			"/>
				<polygon id="NEUVILLE-SUR-OISE" class="st0" points="521.7,538.9 517.5,514.6 553,497.8 559.8,466.8 538.8,458.1 539.9,435.4
					523.1,436.9 520.9,444.4 492.9,436.2 457.8,397.7 439.1,413.4 414.8,391.4 411.8,371.9 365.8,328.6 351.7,355.1 365.8,400.1
					397.1,430.1 409.8,452 468,508 506.5,552.7 			"/>
				<polygon id="VAUREAL" class="st0" points="348.3,310.3 335.2,323.8 318.8,321.5 310.9,311.8 295.6,313.7 292.2,309.2
					284.4,309.2 264.8,301.5 250.4,316.7 250.7,388.1 241.7,390.3 245.6,428.4 295.4,424.8 320.9,438.2 337.2,431.8 336.1,423.4
					346.4,421.4 347,411.3 365.8,400.1 351.7,355.1 365.8,328.6 			"/>
				<path id="CERGY" class="st0" d="M322.3,193.9l9.6,8.1l66.5,10.5V202c0,0,48.8-6,96,40.7c0,0,34.3,49.4,74.7,69.5l-19.8,22
					l12.7,10.1l-9.7,17.6l10.1,16.8l20.9-3.4l5.3,7.8l-5.6,18.2l-13.8,19.9l-29.3,14.2l-16.8,1.5l-2.2,7.5l-28-8.2l-35.1-38.5
					l-18.7,15.7l-24.3-22l-3-19.4l-46-43.3l-17.6-18.3l-13.1,13.4l-16.4-2.2l-7.8-9.7l-15.3,1.9l-3.4-4.5h-7.8l-19.6-7.7l-2.3-9.6
					l-23.1-21l-3.9-16.2l-13-10.9v-7.2l-19.1-10.7l9.8-14.4l30.2-11.7l64.5,9.7L322.3,193.9z"/>
				<path id="SAINT-OUEN-L_x27_AUMONE" class="st0" d="M605.7,333.5l44.5,15.3l-3.7,10.1l9.8,3.1l-0.5,16.3l32.1,22l29.9-31.7
					l27.3,40l88.2-60.5l57.2-50.8L828,257.7l8.2-6.4l-3-12l8.2-8.2l-0.7-36.2l35.1-12.3l-34.7-17.9l-13.5-3.4l-1.1-4.5l-10.5-0.7
					l13.5-17.9l-4.1-2.6l-2.6-7.8l-69.5,1.1l-64.6,67.6c0,0-12,30.3-56,54.9L605.7,333.5z"/>
				<polygon id="PUISEUX-PONTOISE" class="st0" points="195.5,126.9 223.5,143.4 244,137 256,116.5 254.1,81 267.6,59.7 306.1,82.9
					326.6,82.9 315.8,95.9 311.7,111.6 298.6,127.3 322.5,147.8 332.2,126.6 339.7,128.8 339.3,146 349.4,155.7 341.2,185.2
					333.3,181.8 307.9,209.5 243.4,199.8 179.5,172.9 164.5,164.3 			"/>
				<path id="OSNY" class="st0" d="M503.8,255.1c-6-7.5-9.4-12.4-9.4-12.4c-47.3-46.7-96-40.7-96-40.7v10.5L331.8,202l-9.6-8.1
					l11.1-12.1l7.8,3.4l8.2-29.5l13.5-56.4l13.5-18.7l-2.2-9.3l7.5-6.4l14.9-32.1l-2.6-10.1l74.7-22l38.9,51.5l23.2-41.8l22,4.5
					l14.2,14.6l-3.4,29.9l4.1,4.1l1.9,16.4l12.7,11.6l23.5,17.9l-40,59.4l-10.5-0.4l-9.3,23.2l-17.6,9l2.2,18.7l-12.7,35.5
					L503.8,255.1"/>
				<path id="PONTOISE" class="st0" d="M503.8,255.2c13,16,37.7,43.4,65.3,57l-19.8,22l12.7,10.1l-9.7,17.6l10.1,16.8l20.9-3.4
					l5.3,7.8l17.1-49.7l26.9-82.2c0,0,40.7-20.9,56-54.9l48.2-50.1L729,137l-14.6,6.7l-4.1-5.2l-19.1,22.8l-3.4-4.5l-7.1,4.1
					l-4.1,9.3l-9.3,6.7l-14.6-3.4l-6.4-16.8l3.7-9l-0.7-6l-8.6,2.6l-2.2-12.3l1.1-10.1l-9-0.7l-19.4-21.7l-19.8-10.1l-9.3,1.9
					l23.5,17.9l-40,59.4l-10.5-0.4l-9.3,23.2l-17.6,9l2.2,18.7l-12.7,35.5L503.8,255.2"/>
				<polygon id="ERAGNY" class="st0" points="539.9,435.4 538.8,458.1 664.9,510.5 715.9,449.1 704.7,426.5 693.9,424.8 687.9,400.3
					655.8,378.3 656.3,361.9 646.4,358.9 650.2,348.8 605.7,333.5 588.6,383.1 583,401.4 569.2,421.2 			"/>
				<g id="Group-24" transform="translate(344.234742, 129.418165)">
					<path id="Fill-22" class="st1" d="M259.1,190.4l3.4-20l1,10.2L259.1,190.4z M264.4,188.6l-1.6,9.4l-7,14.6l3.8-14.4L264.4,188.6
						z M150.2,468.9c2.4,52.2,6.4-8.2,1.8-59.2c-1.3-14.5-10.7-20.2-19.5-31.8c-8.6-11.5-15.3-16.6-24.8-27.4
						c-8.4-9.5-11.4-16.6-21.2-24.8c-3.6-3-6.1-4.1-9.7-7.1c-11-8.9-16.1-15.4-24.8-26.5c-2.9-3.7-4-6.2-7.1-9.7
						c-3.4-3.8-6.6-4.8-9.7-8.8c-4.1-5.4-4-9.9-7.1-15.9c-3.7-7.2-7.6-10.2-10.6-17.7c-5.6-13.8-15-20.3-3.5-38
						c8.1-12.5,8.1-11.8,14.2-18.6c5.7-6.3,9.1-9.9,15.9-15c8.8-6.6,14-15.1,24.8-13.3c10.6,1.8,17.7,13.7,21.2,26.5
						c2.7,9.7,3.5,13.6,6.2,22.1c1.6,5.2,3.1,8,4.4,13.3c1.7,6.8-1.1,11.8,2.7,17.7c2.9,4.6,7,4.9,10.6,8.8c4.7,5.1,6.1,9.1,9.7,15
						c5.5,9.1,5.5,16.5,13.3,23.9c4.5,4.3,7.9,5.7,13.3,8.8c10.4,6.1,16.4,10.6,28.3,12.4c8.9,1.3,14.2,0.8,23-0.9
						c9-1.7,14.8-2.4,22.1-8c9.9-7.6,10.5-16.7,15-28.3c5.3-13.6,3.4-22.8,8.8-36.3c5.2-12.9,12.7-18,17.7-30.9
						c6.8-17.6,0.9-30.2,8-47.7c5.2-13.1,8.3-21.3,18.6-30.9c5.8-5.4,10.4-6.8,16.8-11.5c12.3-9,19.3-14.1,30.1-24.8
						c6.9-6.9,11-10.7,16.8-18.6c3.4-4.6,4.3-7.9,8-12.4c6.5-8,12.1-10.7,20.3-16.8c8.6-6.4,14.4-8.7,23-15
						c6.2-4.6,8.3-9.5,15.5-12.4c5-2,5.7-4,13.5-2.4c8,1.6,10.3,2.8,17.1,4.2c11.6,2.3,18.5,1,30.1,3.5c8.4,1.8,13.4,2.6,21.2,6.2
						c5.1,2.3,7.1,5.3,12.4,7.1c20.4,6.8,92-2.5,92-1.7c0,1.8-8.7-1.2-9.2-2.8c0,0-67.7,1.3-70.4,0.9c-4.3-0.5-6.5-2.1-10.6-3.5
						c-12.8-4.3-19.5-8.5-32.7-11.5c-9.5-2.2-15.1-2.4-24.8-3.5c-6.9-0.8-11.2,0.6-17.7-1.8c-2.1-0.7-3-1.6-5.1-2.3
						c-9.1-2.9-15.9-0.8-24,4.1c-5.4,3.3-6.7,7.3-11.5,11.5c-6.7,5.8-11.4,8.1-18.6,13.3c-8.6,6.2-14.5,8.5-22.1,15.9
						c-7.9,7.8-9.4,14.8-16.8,23c-8,8.9-13.7,12.9-23,20.3c-11.2,9-18.8,12.3-30.1,21.2c-4.2,3.3-7,4.9-10.6,8.8
						c-8.5,9.2-8.2,17.8-13.3,29.2c-4.1,9.3-8,14-10.6,23.9c-1.8,6.7-0.6,11-2.7,17.7c-2.1,6.9-5.3,10.1-8,16.8
						c-3.7,9.3-4.3,15.1-7.1,24.8c-1.7,5.9-2.7,9.2-4.4,15c-3.3,11.1-3.2,18.2-8.8,28.3c-4.3,7.7-6.9,12.6-14.2,17.7
						c-6.9,4.8-12,6.4-20.3,7.1c-8.4,0.7-13.2-1-21.2-3.5c-11.8-3.8-18.7-7.2-27.4-15.9c-9.7-9.7-8-20.4-16.8-30.9
						c-3.8-4.5-7.1-5.9-10.6-10.6c-5.5-7.3-7.3-7.7-5.6-8.7c7.4-4.1,4.5,7.9,7.1,10.5c0.5,0.5,2.4,3,2,2.4
						c-0.7-1.3-0.7-14.2-1.2-15.6c-1.1-2.7-9.8-3.9-11.2-7.3c-5.1-12.7-5.2-20.7-9.7-33.6c-3.1-8.8-4-14.2-8.8-22.1
						c-3.2-5.2-4.4-9.4-9.7-12.4c-4-2.2-6.9-2.8-11.5-2.7c-5.9,0.2-9,2.5-14.2,5.3c-6.7,3.6-9.1,7.7-15,12.4
						c-4.4,3.5-7.4,4.9-11.5,8.8c-7.4,7-9.8,12.5-15,21.2c-4.6,7.7-10.6,11.4-10.6,20.3c0,6.2,2.7,9.4,5.3,15
						c3.9,8.6,8.6,12.1,13.3,20.3c4.7,8.3,4.2,15,10.6,22.1c3.3,3.6,6.3,4.4,9.7,8c5,5.1,6.2,9.4,10.6,15c5.1,6.5,8.6,9.8,14.2,15.9
						c4.1,4.5,6,7.5,10.6,11.5c4.1,3.5,7.6,4.1,11.5,8c4.2,4.1,5,7.9,8.8,12.4c3.5,4.1,6.1,5.7,9.7,9.7c4.1,4.6,5.8,7.6,9.7,12.4
						c5,6,8.2,9.1,13.3,15c3.5,4.1,5.7,6.2,8.8,10.6c4.5,6.4,8.3,9.9,9.7,17.7c1,5.8-1.9,9.2-0.9,15
						C149.4,446.8,143.3,453.8,150.2,468.9z M28.2,240.8l-0.9,7.1l5.3,1.8l3.3-3.7l0.2-3.4l-5.3-2.7L28.2,240.8z M21.1,216l-2.7-1.8
						l-1.8,8.8H22L21.1,216z M61.8,254.9l-0.9-6.2l-7.1,0.9l-9.7,4.4l-6.2-0.9l1.8-2.7l4.4-1.8v-2.7l-1.8-1.8l-6.2,2.7l-3.5,6.2
						l2.7,9.7l5.3,4.4l2.7,8l4.4-2.7v-7.1l4.4-4.4l-0.9-5.3l1.8-0.9l2.7,2.7L61.8,254.9z M39.7,214.3l-8.8,10.6l-5.3,9.7l9.7,3.5
						l3.5-8.8l3.5,0.9l-1.8,10.6l13.3,5.3l8,0.9l-9.7-8.8l6.2-3.5l2.7-2.7l-4.4-1.8l-5.3,4.4l-0.9-4.4l-1.8-3.5H45l-2.7-0.9l3.5-5.3
						V216h-3.5L39.7,214.3z M66.2,164.7l1.8,1.8l5.3,5.3l4.4-0.9l4.4,4.4l-3.5,2.7l2.7,5.3l-3.5,8l-2.7,1.8l8,10.6l2.7,5.3l-2.7,5.3
						l4.4,5.3l5.3,5.3l-5.3,4.4l0.7,4.8l-10.4,5.8l-4.4-2.7l-0.9,7.1l-3.5,1.8l-5.3,2.7l-2.7-5.3l4.4-8l5.3,0.9l-3.3-5.5l-10.8-13.1
						l-5.3-1.8l-10.6-8l-5.3,8.8l-3.5,1.8l-6.2-1.8l-3-1.3l2.1-2.2l6.2-2.7l3.5-9.7l-3.5-3.5l4.4,1.8l-2.7-8.8l-4.4-7.1h9.7l8-8.8
						l7.1-0.9l8-4.4l2.7-3.5L66.2,164.7z"/>
				</g>
			</g>
		</g>
	</g>
	</svg>
</div>
