
<!-- project -->
<!--
BWAT IG : Projects
Le carousel secondaire de la home
Un slide projet c'est
    - Un surtitre
    - Un titre
    - Une intro
    - Une URL (le lien)
    - Une target pour l'URL (enum "_parent" ou "_blank")
    - une image format fixe : 800 par 800px.
    - Un logo (optionnel) qui est une image format fixe : 140 par 140px

-->
<div class="project">
    <div class="wrap">
        <h2>LES GRANDS PROJETS</h2>
        <div class="box-project">

            <!-- slider navigation -->
            <div class="sliderPrev button">
                <img src="/assets/images/cube-left.png" alt="fleche slide gauche" class="left-arrow"/>
            </div>

            <div class="sliderNext button">
                <img src="/assets/images/cube-right.png" alt="fleche slide right" class="right-arrow"/>
            </div>
            <!-- Fin - slider navigation -->

            <!-- slider -->
            <div class="slider">
                <div class="item">
                    <a href="/lien" target="_parent">
                        <!-- Logo optionnel -->
                        <span class="img-project" style="background-image:url('/assets/images/project.png');"></span>
                    </a>
                    <!-- Image -->
                    <img src="/assets/images/label-cergy.png" class="label" alt="label cergy"/>
                    <!-- Textes -->
                    <a href="/lien" target="_parent">
                        <span class="text-project">
                                <span class="h4">Surtitre</span>
                                <span class="h3">Titre</span>
                                <span class="p">Intro.</span>
                                <img src="/assets/images/plus.png" alt="lire plus icône"/>
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="" target="_parent">
                        <span class="img-project" style="background-image:url('https://unsplash.it/800/600?random');"></span>
                        <img src="/assets/images/label-cergy.png" class="label" alt="label cergy"/>
                    </a>
                    <a href="" target="_parent">
                        <span class="text-project">
                                <span class="h4">Acte 2-3</span>
                                <span class="h3">LOREM IPSUM</span>
                                <span class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu erat in lectus malesuada tempor. Cras ornare lobortis turpis, id iaculis dolor mattis a. Proin tempor orci in est sodales, aliquam iaculis risus faucibus. Ut venenatis vulputate rutrum. Etiam sit amet fringilla metus.</span>
                                <img src="/assets/images/plus.png" alt="lire plus icône"/>
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="" target="_parent"><span class="img-project" style="background-image:url('https://unsplash.it/800/800?random');"></span></a>
                    <a href="" target="_parent">
                        <span class="text-project">
                            <span class="h4">Acte 2-3</span>
                            <span class="h3">LOREM IPSUM</span>
                            <span class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu erat in lectus malesuada tempor. Cras ornare lobortis turpis, id iaculis dolor mattis a. Proin tempor orci in est sodales, aliquam iaculis risus faucibus. Ut venenatis vulputate rutrum. Etiam sit amet fringilla metus.</span>
                            <img src="/assets/images/plus.png" alt="lire plus icône"/>
                        </span>
                    </a>
                </div>
            </div>
            <!-- Fin - slider -->
        </div>
    </div>
</div>