<!--
BWAT IG : Agenda
Zone alimentées par un flux RSS externe
-->

<div class="sortir">
    <div class="wrap">
        <h2>SORTIR À CERGY-PONTOISE</h2>
        <div class="item">
            <a href="">
                    <span class="date">
                        <span class="item-date first">
                            <em>03</em> nov.
                        </span>
                        <span class="item-date last">
                            <em>13</em> déc.
                        </span>
                    </span>
                <span class="img" style="background-image:url('/assets/images/sortir-1.png')"></span>
                <span class="categorie-content">
                    <span class="categorie">Musique</span>
                </span>
                <span class="title">Roméo Elvis + Un d’chaque </span>
            </a>
        </div>
        <div class="item item-2">
            <a href="">
                    <span class="date">
                        <span class="item-date">
                            <em>25</em> déc.
                        </span>
                    </span>
                <span class="img" style="background-image:url('/assets/images/sortir-2.png')"></span>
                <span class="categorie-content">
                    <span class="categorie">Exposition</span>
                </span>
                <span class="title">Nuances éphémères : Vernissage  </span>
            </a>
        </div>
        <div class="item item-3">
            <a href="">
                    <span class="date">
                        <span class="item-date first">
                            <em>27</em> déc.
                        </span>
                        <span class="item-date last">
                            <em>29</em> déc.
                        </span>
                    </span>
                <span class="img" style="background-image:url('/assets/images/sortir-3.png')"></span>
                <span class="categorie-content">
                    <span class="categorie">Conférence</span>
                </span>
                <span class="title">Correspondances  avec Pissaro </span>
            </a>
        </div>
    </div>
    <div class="hachure-button">
        <a href="">
            <div class="button red"><i></i><p><em>TOUTES LES SORTIES</em></p></div>
        </a>
    </div>
</div>