<!-- Message cookies -->
<!-- BWAT IG : cookies

Utiliser un plugin qui fait cela.
Le message s'affiche tant que l'on a pas cliqué sur ok ou gérer les cookies
Le lien vers la page "Gérer les cookies" est une page de contenu classique

-->
<div class="cookies">
    <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies vous permettant de bénéficier d'une navigation adaptée à vos
        usages et des données correspondant à vos centres d'intérêt. Ces derniers servent également à réaliser des statistiques de visites.</p>
    <div>
        <a href=""><span class="button-1"><img src="/assets/images/cookie-fleche.png" alt="fleche"/>GÉRER LES COOKIES</span></a>
        <a href=""><span class="button-2">OK</span></a>
    </div>
</div>
