<nav>
    <div class="wrap">
        <a href="/index"><img src="../assets/images/logo-cergy.png" class="logo" alt="logo agglomération de cergy-pontoise"/></a>
        <div class="menu-mobile"><p>MENU</p>
            <a href="#" class="menu-content"><span></span></a>
        </div>

        <!-- menu / navigation principale -->
        <ul>
            <!-- 1er niveau fermé -->
            <li class="dropdown">
                <a>Le territoire</a>
            </li>
            <!-- 1er niveau ouvert -->
            <li class="dropdown active">
                <a>L'agglomération</a>
                <div class="dropdown-content">

                    <!-- 2nd niveau -->
                    <div class="column">
                        <div class="sub-menu">
                            <h3>Le conseil communautaire</h3>
                            <ul>
                                <li><a href="/pages/column1.php">page exemple columne 1</a></li>
                                <li><a href="/pages/column2.php">page exemple columne 2  avec bloc 1</a></li>
                                <li><a href="/pages/column2-b.php">page exemple columne 2 avec bloc 2 </a></li>
                                <li><a href="/pages/search.php">Page de recherche </a></li>
                                <li><a href="/pages/widget-gallery.php">Page avec widget gallery </a></li>
                                <li><a href="/pages/formulaire.php">Formulaire </a></li>
                                <li class="active"><a href="/pages/gallery.php">Galerie exemple</a></li>
                            </ul>
                        </div>

                        <div class="sub-menu">
                            <h3>Les missions</h3>
                            <ul>
                                <li><a href="">Les compétences</a></li>
                                <li><a href="">Les politiques publiques</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="sub-menu">
                            <h3>L'administration</h3>
                            <ul>
                                <li><a href="">L'organisation administrative</a></li>
                                <li><a href="">Les finances</a></li>
                                <li><a href="">Les postes à pourvoir</a></li>
                                <li><a href="">Les marchés publics</a></li>
                            </ul>
                        </div>

                        <div class="sub-menu">
                            <h3>Les relations internationales</h3>
                            <ul>
                                <li><a href="">La coopération décentralisée</a></li>
                                <li> <a href="">Cergy-Pontoise, ville jumelée</a></li>
                                <li> <a href="">Solidarité internationale</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="sub-menu">
                            <h3><a href="">Les annonces légales</a></h3>
                        </div>
                    </div>
                    <!-- Fin - 2nd niveau -->
                </div>
            </li>
            <!-- 1er niveau fermé -->
            <li class="dropdown"><a>Les projets</a></li>
            <!-- 1er niveau fermé -->
            <li class="dropdown"><a>Vos services</a></li>
            <!-- Loupe recherche -->
            <li class="search"></li>
        </ul>
        <!-- fin - menu / navigation principale -->

        <!-- recherche -->
        <div class="search-box">
            <form action="#">
                <p>Rechercher</p>
                <span class="search-content">
                    <input type="text" name="search" value="">
                    <img src="/assets/images/search.png" class="search-icon" alt="icône de recherche"/>
                </span>
                <a href=""><img src="/assets/images/croix.png" class="croix" alt="fermer recherche"/></a>
            </form>
        </div>
        <!-- Fin - recherche -->
    </div>
</nav>
