a {
	color:$green;
	text-decoration: underline;
}
p, ul, ol {
	font-size: em(15);
	line-height: 1.5em;
	/*margin-bottom: 2.25em;*/
	margin-bottom: 1.75em;
	text-align: justify;
}
p.center {
	text-align: center;
}
p.right {
	text-align: right;
}
p.left {
	text-align: left;
}
p + ul,
p + ol {
	margin-top: -1.75em;
}
li {
	margin-left: 1em;
	margin-bottom: .75em;
}
ul > li {
	list-style: disc ;
    > ul > li {
      list-style: square;
      margin-bottom: .5em;
      ul > li {
        list-style: disc ;
        margin-bottom: .32em;
      }
    }

}
ol li {
	list-style: decimal;
}
hr {
	display: block;
  	margin: 2em 0;
  	height:1px;
  	color: $grey-light;
  	background-color: $grey;
  	border:none;
}