/*
--------------------
RESET
--------------------
*/
html{color:#000; height: 100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}


/*
--------------------
GENERAL
--------------------
*/
*{
  font-family:$primary;
}
.sep { clear: both; overflow: hidden; }
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}
.justify {text-align: justify;}
.underline { text-decoration:underline;}
.content_text,
.intro.text {text-align: justify; line-height: 1.25em;}
.content_text p,
.text p { margin:0 0 1em; }
.content_text ul,
.text ul { margin:0 0 1em; padding-left: 1em;}
.content_text li,
.text li {list-style: disc; margin-bottom: 0.33em; }
img.image-droite,img.right,.image-droite img{
  max-width: 100%;
  margin: 10px 0;
  @include media(tablet) {
    float: right;
    margin: 0 10px 0 10px;
    max-width: 50%;
  }
}
img.image-gauche,img.left,.image-gauche img {
  max-width: 100%;
  margin: 10px 0;
  @include media(tablet) {
    float: left;
    margin: 0 10px 0 10px;
    max-width: 50%;
  }
}

a {text-decoration: none; color:#000;}
strong { font-weight: bold; }
em { font-style: italic; }

.linkMobileWebsite { display: none; }

img.nosvg { display: none;}
body.nosvg img.nosvg { display: block;}
body.nosvg img.svg { display:none;}
iframe {
	border: none;
}



